[2013-09-18 07:16] jeevatkm opened #1 "Change Forwarding Header too"
_Issue by **[jschroth](https://github.com/jschroth)** from Tuesday Oct 30, 2012 at 15:00 GMT_
_Originally opened as https://github.com/jschroth/ReplyWithHeaders/issues/2_

---

FrankSmith asked to replace the forwarding header to match the reply header... this should be possible for a 3.3. enhancement.

[2013-09-18 07:16] jeevatkm opened #2 "Order of reply/forwarding headers (Request/Change)"
_Issue by **[FrankSmith](https://github.com/FrankSmith)** from Tuesday Oct 30, 2012 at 19:10 GMT_
_Originally opened as https://github.com/jschroth/ReplyWithHeaders/issues/3_

---

Hi jschroth

Is it possible to rearrange the headers like Outlook would do? (oops, did I really mentioned Outlook? ;D )
In my personal opinion, the order of outlook a more common and used way. In Mail.app options I can

[2013-09-18 07:16] jeevatkm opened #3 "No longer working"
_Issue by **[yokr](https://github.com/yokr)** from Monday Jan 14, 2013 at 19:25 GMT_
_Originally opened as https://github.com/jschroth/ReplyWithHeaders/issues/4_

---

Stopped working as of January 14, 2013.  Hitting CMD-R shows no response from Mail.  Opening message and replying from within no longer allows headers to be displayed.

[2013-09-18 07:17] jeevatkm opened #4 "Just a Question"
_Issue by **[ProLive](https://github.com/ProLive)** from Thursday Jul 11, 2013 at 04:09 GMT_
_Originally opened as https://github.com/jschroth/ReplyWithHeaders/issues/6_

---

Hey All,

Is there a way at all to alter the font that is used for the attribution
I want to match it to what Outlook looks like

Cheers,
Dave

[2013-09-18 07:24] jeevatkm opened #5 "Font Customization for Reply/Forward Header"
Allowing user to chose font name and size for reply/forward header.

[2013-09-18 07:26] #4 closed, assigned to nobody

[2013-09-18 07:34] #3 closed, assigned to nobody

[2013-09-18 07:45] jeevatkm opened #6 "Addressing Forwarded Header the subject is printed bold cosmetic"
This issue created from request of @FrankSmith from #1.

**Description:** On the Forwarded Header the subject is printed bold. It would be great, if it could match the reply header, too, so only the tags are bold, not the content.

**Root cause:** Typically Apple mail does bold for subject tag, will try for sync with Reply header else Reply header will be sync with Forward header.

[2013-09-18 07:46] #1 closed, assigned to nobody

[2013-09-18 07:54] jeevatkm opened #7 "RWH Code re-organization"
Organizing a code structure, which help in upcoming goals.

[2013-09-18 07:55] #7 closed, assigned to jeevatkm

[2013-09-18 07:57] jeevatkm opened #8 "RWH new mail preference UI"
Redesigned RWH mail preference to accommodate upcoming goals.

[2013-09-18 07:59] jeevatkm opened #9 "Update MIT license to latest"
Update MIT license to latest with all the author details.

[2013-09-18 08:02] jeevatkm opened #10 "Notify user about new version availability"
RWH to check for update of newer version availability and notify the user.

[2013-09-18 08:07] jeevatkm opened #11 "RWH Code refactoring to normalize"
RWH Code refactoring to normalize/addressing
- Naming conventions
- General xCode coding guidelines on configuration, target, etc.
- Cannot find protocol definition for 'NSPreferencesModule' warning
- The Copy Bundle Resources build phase contains this target's Info.plist file warning

[2013-09-18 14:49] jeevatkm opened #12 "Create an easy to use installer"
Create an easy to use install for RWH, automating installation in .pkg. So user can install RWH plugin/bundle comfortably

[2013-09-18 15:35] #9 closed, assigned to jeevatkm

[2013-09-19 03:43] jeevatkm opened #13 "Add support for new Mac OS X Mavericks"
Adding support of new OS X mail app

[2013-09-19 09:31] jeevatkm opened #14 "Enable Forward Header & Entourage 2004 Support by default"
Enabling the functionally of Forward header implementation and Entourage 2004 typography support by default in the bundle.

[2013-09-19 09:31] #14 closed, assigned to jeevatkm

[2013-09-20 03:51] #11 closed, assigned to jeevatkm

[2013-09-20 12:20] jeevatkm opened #15 "Added Website, feedback and Support links in About Tab"

[2013-09-20 12:22] #15 closed, assigned to jeevatkm

[2013-09-20 12:24] #8 closed, assigned to jeevatkm

[2013-09-21 05:57] jeevatkm opened #16 "Update Forward header label in General tab"
[Ean](https://www.macupdate.com/members/profile/Ean) has suggested a new Label as 'Manage forward headers'

[2013-09-21 06:02] #16 closed, assigned to jeevatkm

[2013-09-22 13:54] #6 closed, assigned to jeevatkm

[2013-09-24 03:59] jeevatkm opened #17 "Remove repeated Forward header border implementation"
During a rewrite I come across Forward header border customization is used one. Hence removing that.

[2013-09-25 07:55] jeevatkm opened #18 "Separate Header Border/Prefix customization"
During a rewrite of RWH plugin, to bring flexibility and improve experience I'm separating the header border/prefix customization from Header.

[2013-09-28 19:05] jeevatkm opened #19 "Handle outgoing mail subject text Prefix - Re: and Fwd:"
- Handling of outgoing mail subject text prefix; Re: => RE: and Fwd: => FW:
- Provide checkbox to turn on/off

[2013-10-03 16:12] jeevatkm opened #20 "Add [mailto:<email-id>] into From: tag like Outlook Mail"
Sample Presentation:

<pre><code>From: Jeevanandam Madanagopal [mailto:jeeva@myjeeva.com] </code></pre>

[2013-10-03 16:16] jeevatkm opened #21 "Multilingual Support for RWH plugin"

[2013-10-03 16:25] jeevatkm opened #22 "Consummate handling of semi-colon [;] in Header"

[2013-10-03 19:04] #5 closed, assigned to jeevatkm

[2013-10-03 19:05] #17 closed, assigned to jeevatkm

[2013-10-05 21:28] #2 closed, assigned to jeevatkm

[2013-10-05 21:30] jeevatkm opened #23 "Add Snow Leopard (OS X 10.6.x) support"
Adding Snow Leopard (10.6.x) support in v3.7 would enable new features and enhancements available to many users.

[2013-10-05 21:30] #19 closed, assigned to jeevatkm

[2013-10-06 20:01] #10 closed, assigned to jeevatkm

[2013-10-08 20:33] markcarroll opened #24 "Add option to only insert signature when starting a new message"
The PC version of Outlook does a great job of not adding a signature when replying to a message thread. However Mac Outlook adds one to every message or none at all.  I would like to be able to add one to a new message but if I am replying or forwarding, I would like the RWH plug-in to remove the signature from the text.

is that something you could do?

[2013-10-21 18:48] #22 closed, assigned to jeevatkm

[2013-10-21 18:48] #20 closed, assigned to jeevatkm

[2013-10-21 18:48] #18 closed, assigned to jeevatkm

[2013-10-23 23:57] stevejkim opened #25 "OSX Maverick Compatibility"
Maverick seems to have broken the last version of ReplyWithHeaders.  Can you verify?

[2013-10-24 13:26] #25 closed, assigned to jeevatkm

[2013-10-24 13:30] #13 closed, assigned to jeevatkm

[2013-10-24 15:49] #12 closed, assigned to jeevatkm

[2013-10-24 18:28] #23 closed, assigned to jeevatkm

[2013-10-24 21:30] ghost opened #26 "Buttons and Shortcuts won't, PlugIn does not work… [Non-English Locale]"
German Mail 7.0 in Mavericks.
All Buttons don't work.
All Shortcuts don't work.
After quitting in menu and reopening new mails are created and saved in drafts folder. But they don't include any reply annotation

After Disabling the Plugin, all buttins/shortcuts are working fine again.

[2013-10-25 20:40] #24 closed, assigned to jeevatkm

[2013-10-25 21:17] #26 closed, assigned to jeevatkm

[2013-10-25 21:40] ghost opened #27 "Headers are not stripped out completely on forwarding a message and custom headers are set in Mail.app"
When forwarding message and some custom headers are selected in Mail-preferences, some of the custom headers are still present in the forwarded mail. The PlugIn strips only the first 4/5 lines of the attribution.

Example is shown in the following screenshot: The Last two lines are Mail.app-headers which are selected to show some details in the summery header of a message view pane. It depends how

[2013-10-25 21:45] ghost opened #28 "Enhancement: Optional header attribution always in english regardless of system language"
This is like an Option hidden deep in the Outlook settings:
It would be nice to have an option setting for localized versions to always have english headers and US-english date format regardless of the lokal system language.

[2013-10-25 21:54] ghost opened #29 "Enhancement: Outlook style email address formatting and AddressBook lookup"
Outlook represents the From- and To-fields in the form:
From: Firstname Lastname [mailto:address@somewhere.com]
To: Firstname Lastname

The Plugin currently seems to copy the raw headers like
From: "Firstname Lastname" address@somewhere.com
To: "Firstname Lastname" address@somewhere.com

or like this, when there are no quotes in the header:
From: Firstname Lastname address@somewhere.com
To: Firstn

[2013-10-26 22:34] Daskarzine opened #30 "Incompatible Plug-ins disabled - ReplyWithHeader"
Hi - thanks for taking over the project and for updating!

I'm getting this error message despite updating to 4.0 - how do I stop this from appearing?

Thanks!

[2013-10-29 13:48] HeathC opened #31 "MailHub Compatibility"
Hi,
It looks like the latest versions of MailHub (http://dervishsoftware.com/) and ReplyWithHeader conflict. So far I only see that replies are not being reformatted to the Outlook style. Forwarding seems to work, and I haven't tested any other features.

Here is the error in Console:
10/29/13 9:35:48.826 AM Mail[14067]: objc[14067]: Class MHMessage is implemented in both /Users/heath/Library/Mail

[2013-10-29 14:07] ghost opened #32 "Default order / Outlook Mail order is disabled in preferences in v4.1"
In v4.1 I can only choose from the labels, not from the order. The two radio boxes are both disabled.

[2013-10-29 14:13] #32 closed, assigned to jeevatkm

[2013-10-29 18:12] jeevatkm opened #33 "Enhancement: AddressBook lookup"
Branched from #29 AddressBook lookup feature into separate issue.

"3) Like 2) but going a step further: To have a selectable option to show the Name always without email address if a name is present in the header or the email address is found in the AddressBook."

[2013-10-29 18:13] #29 closed, assigned to jeevatkm

[2013-10-30 15:35] #31 closed, assigned to jeevatkm

[2013-10-30 19:03] centerforants opened #34 "unable to change normal fonts"
Some background info:
OS X Mavericks
Mail 7.0

When I try to change the font while composing an email it will not change the font of the highlighted text.  Instead, it only changes the font that is being applied to Reply/Forward headers.  This behavior is 100% of the time.  I have to uninstall the mailbundle just to change fonts.  Also, trying to change fonts in the Fonts & Colors tab of Mail Pref

[2013-11-01 21:21] #27 closed, assigned to jeevatkm

[2013-11-01 21:22] #34 closed, assigned to jeevatkm

[2013-11-01 21:24] #30 closed, assigned to jeevatkm

[2013-11-02 23:57] #28 closed, assigned to jeevatkm

[2013-11-07 14:09] #21 closed, assigned to jeevatkm

[2013-11-07 21:01] ghost opened #35 "please close. doubled."

[2013-11-07 21:09] ghost opened #36 "4.2beta Package installer wants admin privileges. Why?"
The new 4.2 beta pkg-installer prompts for an administrative account.
As this is installed in my local library folder, admin privileges are not necessary.
I don't want to give an installer root rights. Some even has no access to that account.
If administrative privileges are really required, I want exactly to know, what in every detail is going to be done in the admin context.

[2013-11-07 21:11] #35 closed, assigned to nobody

[2013-11-07 21:14] ghost opened #37 "Date format has local system format and not the one of the selected language"
Related to 4.2beta:
The date headers are always formatted in the local system format regardless which language setting one has chosen in the plugin. Because of that one has mixed language wording in the date string.

Example (note the german output of the sent date in the english context):

**From:** Mini Minimizer [mailto:mini@minimizer.com]
**Sent:** Montag, 05. August 2013 11:13:37 MESZ
**To:**

[2013-11-07 21:17] ghost opened #38 "Name in To: field is marked with single quotes"
Related to 4.2beta, e.g. in the PlugIn

**From:** Mini Minimizer [mailto:mini@minimizer.com]
**Sent:** Monday, August 05, 2013 11:13
**To:** 'Max Maximizer'
**Subject:** Some subject text coming here

in Outlook:

**From:** Mini Minimizer [mailto:mini@minimizer.com]
**Sent:** Monday, August 05, 2013 11:13
**To:** Max Maximizer
**Subject:** Some subject text coming here

The output of **To:** shoul

[2013-11-08 18:39] ghost opened #39 "English(CA) not supported - plugin cannot be enabled."
The plugin appears under Preferences but English(Canada) is currently unsupported and therefore cannot be enabled.  A workaround for now seems to be to duplicate the "en" localization settings as "en-CA".

Thank you.

[2013-11-09 07:01] joshsmall opened #40 "Line break after header"
Can you either default to or add option for a line break after the header? Very messy without it, and Outlook convention is to have the line break, as far as I can tell...

[2013-11-09 12:16] #40 closed, assigned to jeevatkm

[2013-11-10 11:44] #39 closed, assigned to jeevatkm

[2013-11-10 11:45] #36 closed, assigned to jeevatkm

[2013-11-10 11:47] #38 closed, assigned to jeevatkm

[2013-11-20 19:03] ldaury opened #41 "No action required - but its not working"
I have been using this for the last few versions.  When I upgraded to Maverics I get this error but it is not working:

daurys-mbp:~ ldaury$ /Users/ldaury/Downloads/ReplyWithHeader-master/Package/Install-or-Upgrade.command ; exit;

Mac OS X version: 10.9
Mail Plugin: ReplyWithHeader

Installing ReplyWithHeader plugin
cp: /Users/ldaury/Downloads/ReplyWithHeader-master/Package/ReplyWithHeader.mailbu

[2013-11-22 15:25] #41 closed, assigned to jeevatkm

[2013-11-23 16:34] jeevatkm opened #42 "Remove Entourage 2004 support; instead handle styling implicitly for all mail clients"
Since Entourage 2004 support option causes a style and newline issue on few mail clients. So I'm plan to handle this internally in universal manner.

[2013-12-28 10:18] #42 closed, assigned to jeevatkm

[2013-12-28 10:22] jeevatkm opened #43 "From header labeling style"
Implementation of From header label style.

Default style:

<pre><code>From: Jeevanandam M.</code></pre>

Extended style:

<pre><code>From: Jeevanandam M. [mailto:jeeva@myjeeva.com]</code></pre>

[2014-01-02 20:51] ghost opened #44 "Big thanks..."
OK, this is no issue, no request or anything like that.

It is just a big THANK YOU! for self-motivating and developing this great plugin.
Highly recommended and appreciated. ;)

[2014-01-03 13:46] #43 closed, assigned to jeevatkm

[2014-01-03 20:30] #44 closed, assigned to jeevatkm

[2014-01-04 14:14] Ritchie007 opened #45 "Not allowed under Mail 7.0.1 (Mavericks.1)"
Mail rejects this version.

[2014-01-05 00:11] charlienathan opened #46 "Does not work in Mail 6.6"
Hi,
RWH is my life saver but I just installed v. 4.3 on MacBook pro 10.8.5 with Mail 6.6 and Reply is totally blocked. I can't reply or forward any message. When I disable in Preferences the functions come back. Below is the text from "console":

Charlie

2014-01-05 06:33:43,780 Mail[5237]: **\* -[**NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[

[2014-01-07 08:41] bskk76 opened #47 "Plugin not working with OS X 10.9.1 and Mail app 7.1"

[2014-01-07 11:24] #47 closed, assigned to jeevatkm

[2014-01-07 11:45] #46 closed, assigned to jeevatkm

[2014-01-07 11:46] #45 closed, assigned to jeevatkm

[2014-01-07 11:49] jeevatkm opened #48 "Resolve Permission Issue while installed by Root user"
When installation is done by Root user, Mail.app doesn't have permission to read Info.plist. So RWH plugin is not recognized by Mail.app

**Refer #47 for more details, will be addressed in v4.4 release.**

[2014-01-07 11:52] jeevatkm opened #49 "Take care UI sync while Enable and disable of RWH in Mail Preferences"
While enabling and disabling of RWH in Mail Preferences doesn't disable From Header style option #43.

[2014-01-07 11:56] #49 closed, assigned to jeevatkm

[2014-01-08 17:42] RoI1 opened #50 "left vertical lines at quoted text in replies not displayed in MS Outlook"
The left vertical lines that delimitate the quoted text in reply emails sent from Apple Mail with installed ReplyWithHeader plugin are not displayed in MS Outlook. However, they are correctly displayed in apple mail application.

[2014-01-09 08:16] p1card opened #51 "Cannot reply. OSX Mavericks 10.9.1"
When I install the plugin, nothing happens when I press reply. When I press Mail->Preferences nothing happens.

From Console.app when I try this:

09.01.14 09:10:22,067 Mail[4930]: (
    0   CoreFoundation                      0x00007fff8eabb41c **exceptionPreprocess + 172
    1   libobjc.A.dylib                     0x00007fff8636ae75 objc_exception_throw + 43
    2   CoreFoundation

[2014-01-09 10:34] p1card opened #52 "'Norwegian Bokmål (nb, no)' locale support"
Adding support for Locale is set to 'Norwegian Bokmål (nb, no, no_NO, no_NB)'.

[2014-01-09 10:38] #51 closed, assigned to jeevatkm

[2014-01-09 16:00] #50 closed, assigned to jeevatkm

[2014-01-14 07:38] Bouke opened #53 "Specify signature when replying/forwarding"
Currently it's only possible to remove one's signature when replying/forwarding. My corporate signature is huge (including FB/twitter links). I would like to specify a condensed signature when replying, so I still don't have to type "Kind regards, /me, /function /corp". However as I have multiple e-mail accounts, I would have to select a different condensed signature when replying.

[2014-01-14 07:40] Bouke opened #54 "ReplyWithoutHeader"
I've been looking for a plugin to solve #53, however the Outlook-style reply header isn't something I really want. If that could be optional, my particular use-case would be solved. Thanks anyway. :+1:

[2014-01-21 15:35] Jornvdd opened #55 "Unable to load ReplywithHeader"
Hi,

I'm trying to install the plugin on my macbook pro retina, with the latest Mavericks version on it and always receive an error message.

Right below you can find the error message as recorded within the terminal application.

Please advise

21/01/14 16:30:12,026 Mail[1592]: Plugin compatibility check failed for ReplyWithHeader.mailbundle. The plugin's Info.plist must have a SupportedPluginCom

[2014-01-23 21:29] #55 closed, assigned to jeevatkm

[2014-01-24 14:02] #54 closed, assigned to jeevatkm

[2014-01-29 09:57] rafaespada opened #56 "Forward header are in formated text"
Hi!!! I am a new user of ReplyWithHeader. really thanks for this plugin!!!

I like allways send emails in Plain Text... but if I forward a message is create in Rich Text... and the header is formated (bold, normal fonts styles) ¿?¿?

I have uncheck the preference "Apply tipography to headers".

If i reply the message is in plaintext, only it's happends when forward messages.

Thanks in advance.

[2014-02-05 03:22] #48 closed, assigned to jeevatkm

[2014-02-05 03:22] #52 closed, assigned to jeevatkm

[2014-02-26 02:40] hanconquer opened #57 "Incompatible with Mail 7.2"
Please update. I really need it :(
Thank you very much!
![screen shot 2014-02-26 at 10 30 23](https://f.cloud.github.com/assets/6789247/2266074/28c5903c-9e8f-11e3-841d-f38b9ff4b2ff.png)

[2014-02-26 04:15] #57 closed, assigned to jeevatkm

[2014-04-04 18:11] #56 closed, assigned to jeevatkm

[2014-04-04 18:18] jeevatkm opened #58 "On 10.9.2 (Mail 7.2/1874), clicking Feedback doesn't seem to work (other two buttons do)"
On 10.9.2 (Mail 7.2/1874), clicking Feedback doesn't seem to work (other two buttons do)

Reported by Robin Benson (tikouka.net)

[2014-04-04 19:03] jeevatkm opened #59 "Customizing Reply or Forward quote prefix"
There are two approaches to modifying thing (headers, fields, etc.) in general:

1. Allow the selecting of pre-defined options A, B, etc.

2. Allow the selecting and definition of such options.

For example, customising the "reply quote" line (not covered with your plugin, but I use it here as an example) as opposed to switching between different pre-defined options.

So you could have:

• Apple b

[2014-04-04 19:05] #58 closed, assigned to jeevatkm

[2014-04-05 04:35] zeathe opened #60 "ReplyWithHeader Plugin Update Window Download Button Typo"
ReplyWithHeader Plugin Update window "Download" button has a typo and is spelled as "Donwload".  Trivial Fix.  See picture attachment:

![image](https://cloud.githubusercontent.com/assets/600113/2621941/a9d4128e-bc7b-11e3-93f5-2f76750350a7.png)

[2014-05-03 20:32] #60 closed, assigned to jeevatkm

[2014-05-26 17:53] #33 closed, assigned to jeevatkm

[2014-05-31 03:49] #53 closed, assigned to jeevatkm

[2014-06-05 10:25] Sam26 opened #62 "Problem with ReplyWithHeader"
Hello,

My configuration is: OS X 10.9.3
Mail software version is: 7.3

I installed ReplyWithHeader v4.4 for use with MAIL.
The installation went well and I have access preferences MAIL at the interface of RWH.
But can not be used in reality MAIL. When RWH is installed in MAIL, I am unable to reply to a message, reply all to a message, forward a message. Nothing happens, I do not even get an error

[2014-07-03 17:37] zirnhelt opened #63 "OS X Update 10.9.4 disables ReplyWithHeader"
I didn't capture the message, but ti told me the plug-in was no longer compatible. I haven't found any possible explanation on the patch documentation though.

[2014-07-03 17:43] #63 closed, assigned to nobody

[2014-07-21 19:41] #62 closed, assigned to jeevatkm

[2014-07-22 19:53] akayssi opened #64 "Extra blank lines in Gmail.com and Outlook.com web clients"
When a reply message with RWH is sent to Gmail.com or Outlook.com, blank lines appear between the header lines when the message is read on the web. This however is not seen on Yahoo mail.

Example from Gmail.com is attached. You can see the extra blank lines between the From: line and the Sent: line, between Sent: and To:, and between To: and Subject:

![screen shot 2014-07-22 at 2 48 52 pm](https

[2014-08-28 04:26] jeevatkm opened #65 "OS X 10.10 Yosemite support [Due to internal structure change in Mail.app v8]"
Addressing Issue of email body gets blank while forward in Mail.app of Yosemite.

[2014-08-28 04:28] jeevatkm opened #66 "Don't check Messages framework check in 10.10 - Yosemite"
Installer output:

<pre>
Last login: Wed Aug 27 20:06:20 on console
Jeevanandams-Mac:~ jeeva$ /Users/jeeva/Downloads/ReplyWithHeader-v4.5/Install-or-Upgrade-or-Reenable.command ; exit;

RWH:: Mac OS X version: 10.10
RWH:: Mail Plugin: ReplyWithHeader
RWH:: Mail.app 8.0 [Build 1973.6]
RWH:: '/Users/jeeva/Library/Mail/Bundles' directory not exists, creating one

RWH:: Installing ReplyWithHeader Mail

[2014-08-29 00:24] #66 closed, assigned to jeevatkm

[2014-09-07 20:04] gniagnia opened #67 "Replywithheader plugin not showing"
Hi - I'm using OS 10.9.4 and installed replywithheader without success.
One stupid question though : replywithheader plugin options should show within Mail preferences correct?
If so, I doesn't show in mine.
Here is console message :

07/09/14 21:57:30,760   Mail[1036]  Could not create query for expression ((null)) && (kMDItemContentType == 'com.apple.mail.emlx')

Any idea?

Thanks

[2014-09-07 21:16] #67 closed, assigned to jeevatkm

[2014-09-08 03:31] #64 closed, assigned to jeevatkm

[2014-09-10 01:57] #65 closed, assigned to jeevatkm

[2014-09-12 17:41] jeevatkm opened #68 "Strange Behavior in v4.6 release"
Strange behavior in v4.6 release. Mohamed Shahat & Rosa Alba reported issue via Disqus thread.

Details as follows-

@Mohamed Shahat:

<pre>In 4.6 , when i am replying to an email ... I don't see the Headers of the email being replied to , as used to be in previous version. I kind of believe this is a bug in the latest version v4.6

Mail.app 7.3 , on Mac OS X 10.9.4

Thanks, /M
--------
As a follo

[2014-09-13 18:18] #68 closed, assigned to jeevatkm

[2014-09-15 20:23] wetzel opened #69 "Does not work with Mail, Version 8.0 (1973.6)"
Incompatible Plug-ins Disabled

Mail has disabled the following plug-ins:

[code]

Contact the makers of these plug-ins for versions that are compatible with Mail 8.0.

[2014-09-16 18:32] #69 closed, assigned to jeevatkm

[2014-09-20 04:48] jeevatkm opened #70 "Improve handling of Blockquote Tag while compose"
- Integrate Mail preference option with logic
- Improve tag handling

[2014-09-21 03:38] jeevatkm opened #71 "MCMessageHeaders - unrecognized selector error"
After Yosemite beta 3 update, Mail.app is throwing below error.

<pre>19/09/14 9:37:51.001 pm Mail[1775]: -[MCMessageHeaders attributedStringShowingHeaderDetailLevel:]: unrecognized selector sent to instance 0x600000439ce0</pre>

Need a fix!

[2014-09-21 18:35] jeevatkm opened #72 "Don't enable by default - Manage email subject prefix [Re: => RE: and Fwd: FW:]"
Make <code>Manage email subject prefix [Re: => RE: and Fwd: FW:]</code> option available, but not enable by default in RWH.

[2014-10-13 00:17] #72 closed, assigned to jeevatkm

[2014-10-13 00:17] #70 closed, assigned to jeevatkm

[2014-10-13 00:18] #71 closed, assigned to jeevatkm

[2014-10-13 10:09] insekt opened #73 "Unreadable chars in header"
Sometimes I see unreadable chars instead of name.
![2014-10-13 14-07-33 re](https://cloud.githubusercontent.com/assets/6427964/4611968/0ca86e38-52c1-11e4-8e77-2c5cbada75a9.png)

[2014-10-29 05:53] DaveB91 opened #74 "From Name"
Hi Guys,

More so a question here then an issue.
When RWH populates the name next to the email address in the header, where does the name come from?

Cheers,
Dave

[2014-10-29 05:58] #74 closed, assigned to nobody

[2014-10-31 16:48] LifeNinja opened #75 "Installer cannot copy files in Yosemite"
Tried several times to install. Here's what I get:

RWH:: Mac OS X version: 10.10
RWH:: Mail Plugin: ReplyWithHeader
RWH:: Mail.app 8.0 [Build 1990.1]

RWH:: Installing ReplyWithHeader Mail plugin
cp: /Users/Vishal/Library/Mail/Bundles/ReplyWithHeader.mailbundle: Permission denied
cp: /Users/Vishal/Desktop/ReplyWithHeader-v4.8/ReplyWithHeader.mailbundle: unable to copy extended attributes to /User

[2014-11-07 02:32] #75 closed, assigned to jeevatkm

[2014-11-14 21:21] jeevatkm opened #76 "Russian localization has a mistake. Please change"
User: Ekaterina has reported this improvement.

//
Russian localization has a mistake. Please change

<pre>посланный:</pre>
into
<pre>Отправлено:</pre>

Many thanks in advance!
//

[2015-01-27 05:39] taajo opened #77 "Provide per alias signatures"
In Mac Mail you can set up multiple aliases for an account by listing multiple email addresses in "Preferences > Accounts > your_account >Email Address:", for example "user1@me.com, user2@me.com, ..."  When you send an email then, you can pick which alias the email is coming from.  However neither Mail nor RWH lets you specify a signature to use per alias.  It would be very useful to have the abil

[2015-01-31 18:58] jeevatkm commented on #77
@taajo I will consider this as a feature request. Thanks for bring it up!

[2015-03-08 06:39] #76 closed

[2015-03-08 17:59] jeevatkm commented on #73
@insekt I have addressed this issue, is it possible to try beta version and share your feedback?

Kindly let me know!

[2015-03-08 20:42] insekt commented on #73
No problem.
Where can I get beta version?

[2015-03-08 21:38] jeevatkm commented on #73
Thanks, here it is [https://app.box.com/s/n6dzs9s3ucpsf7zyqraeiohujmnfwest](https://app.box.com/s/n6dzs9s3ucpsf7zyqraeiohujmnfwest).

[2015-03-09 05:13] jeevatkm commented on #37
Addressed, part of next release.

[2015-03-09 05:13] #37 closed

[2015-03-09 17:01] insekt commented on #73
Works fine!
Here is a screenshot of header from the same letter
![2015-03-09 19-56-35 re](https://cloud.githubusercontent.com/assets/6427964/6559846/ccefbf2c-c696-11e4-966d-16e391e3391d.png)

[2015-03-09 17:10] jeevatkm commented on #73
Thanks @insekt for testing, I'm doing few more improvements. Coming weekend I will release it.

[2015-03-09 17:10] #73 closed

[2015-03-14 18:15] jeevatkm opened #78 "Add donation option to the RWH"
Add donate option to About screen in the mail preference and [webpage](http://myjeeva.com/replywithheader).

[2015-03-21 18:29] jeevatkm commented on #78
Done!

[2015-03-21 18:29] #78 closed

[2015-03-23 02:49] dicksonnathan opened #79 ""From Header Attribution Style" issue"
After upgrading to version 4.9, selecting either Default or Extended "From header attribution style" always displays "From: Name email-address"

I'm using Mail 8.2 (2070.6) on Yosemite (10.10.2)

I've downgraded to 4.8 and the settings are back normal.

[2015-03-23 02:51] jeevatkm commented on #79
Thanks for notifying, will check and let you know!

[2015-03-23 04:06] jeevatkm commented on #79
Can you please try this build and share your feedback?
https://app.box.com/s/ky716t9czwmdcl0pbx8b5yfrbeiss05k

[2015-03-23 05:05] dicksonnathan commented on #79
This build works fine. Both Default and Extended "From Header Attribution Style" works as intended. Thanks for the quick response and fix!

[2015-03-23 07:48] #79 closed

[2015-03-23 20:08] tvnshack opened #80 "Can't resize the Mail.app's Preferences window when focus is on the Accounts tab"
Hello,

Since I've installed that plugin, the Mail Preference window can't be resized anymore. I mean, the "Accounts" tab. How strange !  I need to resize this window always because I can't identify my (many) mail accounts when I want to activate them depending on my network setting. Even if the the "grab" icons show up near the window's edge, the window won't follow. Is your plug-in interfering w

[2015-03-24 10:18] tvnshack opened #81 "No Header in case of a partial Forward"
Hello,

If you select one part of a mail to forward it to some other distribution list, there is no Header at all. Nothing. Apple Mail without RWH sets a (short) Header in this case. I would expect RHW to generate a full Header, as if the Forward mail was composed without first selecting lines of the original mail.

This is quite a regression from the situation without RWH as we're loosing the pos

[2015-04-02 01:43] modest opened #82 "Outlook-style Reply All behavior (preserve To and CC recipients)"
Enhancement request :)
The most annoying behavior in Apple Mail is Reply All.  Unlike Outlook, it does not preserve the To/CC line of the message you are replying to.  Instead, it moves everyone except the last sender to the CC line.

# Example

#### Received message

## Outlook Reply-All behavior

## Apple Mail Reply-All behavior

All of the recipients on the To line have been dropped to CC.

[2015-04-02 01:54] jeevatkm commented on #81
Sure, I will address this issue in upcoming release.

[2015-04-02 01:57] jeevatkm commented on #82
Before committing to this behaviour, I will have to verify few internal elements in Mail.app.

Will let you know, currently I labeled as `analyze`.

[2015-05-13 00:54] svandi opened #83 "ReplyWithHeader being disabled due to locale issue"
I'm running OS X 10.9.5 with Mail v. 7.3.

I've been running this successfully with Mavericks as well as earlier OS versions.  Not sure of the change event, but I see that the plugin is being disabled on the startup of Mail.  Here is the log data:

<pre>5/12/15 5:40:01.636 PM Mail[12876]: ReplyWithHeader v4.9 plugin loaded, OS X version: 10.9
5/12/15 5:40:01.636 PM Mail[12876]: MailHeader.m: 168 L

[2015-05-13 17:59] jeevatkm commented on #83
Any region/locale settings change happened recently in your machine? RWH is detecting english but some addition value comes too.

I see in the log like this:
<pre>5/12/15 5:40:01.639 PM Mail[12876]: WARNING :: ReplyWithHeader v4.9 is currently not supported in your Locale[ (null)(English) ] it may not work as expected, so disabling it.
Please contact plugin author for support (http://myjeeva.com/r

[2015-05-14 23:53] svandi commented on #83
The plugin is working now, but I'm not sure of the root cause.  I have not made any region/locale setting changes, but while looking for these, I noticed the "Enable" checkbox in the Mail.app preference pane for RWH was not selected.  This is not really surprising since the log shows it being disabled during startup.  Nevertheless when I checked the box to enable it, the plugin works as expected.

[2015-05-14 23:53] #83 closed

[2015-05-15 00:00] jeevatkm commented on #83
I'm glad to hear :) please let me know if your come across any issue.

[2015-05-18 00:58] jeevatkm opened #84 "Improve RWH options and possibilities"
While developing RWH for Thunderbird and Postbox, I have implemented simple way of options yet flexible for users.

So I'm bringing these in v5.0 :)

[2015-05-18 05:12] jeevatkm commented on #80
I have verified it, on click of every menu item in the prefs window. It adjust the size of the window **to make every icon visible in the prefs window**. Sorry for the inconvenience.

[2015-05-18 05:42] fmaxwell opened #85 "Add ability to reply with full, raw headers"
Feature request:  Add the ability to reply with the full, raw headers, including "Received:" headers with IP addresses.  That's what I was looking for when I found the ReplyWithHeader plugin.

Replying with the full, raw headers is a necessary feature for people who report spammers, phishing attacks, criminal scams (Nigerian 419, craigslist vehicle pay-with-Western-Union, etc.), and malware payloa

[2015-05-18 14:21] jeevatkm commented on #85
I have scheduled it for coming release.

[2015-05-18 15:45] fmaxwell commented on #85
That's fantastic.  Thank you very much.

Sent from my iPad

[2015-05-18 17:31] tvnshack commented on #80
Hello,

Unfortunately not here !  The mouse icon changes to an arrow when hovering over the edges of the prefs window .. but nothing happen when actually clicking to drag the edges and resize window.

Mail  Version 7.3 (1878.6)

MacOSX 10.9.5

Have you tried with these versions ?

Thanks
Thierry

[2015-05-18 17:45] jeevatkm commented on #80
Yes, I will try to sort out this in best possible manner for upcoming version.

[2015-05-18 20:22] jeevatkm commented on #77
Did deep analysis to get hang around email aliases in the Mail.app. It seems internal APIs are strange enough to hide details :)

Still try out! let you know if somethings pops up.

[2015-05-20 19:00] jeevatkm commented on #82
Poor internal API support Mail app, however I'm planing to handle via workaround and logic.

Are you interest in try out pre-release version and share your feedback?

[2015-05-20 19:20] jeevatkm commented on #59
Closing this in favor of #84

[2015-05-20 19:20] #59 closed

[2015-05-20 19:21] #85 closed

[2015-05-20 19:22] jeevatkm commented on #80
Issue addressed, Not only Accounts tab. Taken care for Rules and Signatures too!

Will be released in v5.0

[2015-05-20 19:22] #80 closed

[2015-05-20 19:46] jeevatkm commented on #82
It's done!

[2015-05-20 19:46] #82 closed

[2015-05-20 20:05] tvnshack commented on #80
Awesome !!!

[2015-05-22 08:01] modest commented on #82
Awesome! Thank you! I will test this out in the next release. Let me know if you want any feedback. :)

[2015-05-28 22:19] jeevatkm commented on #85
Can you please try v5.0-beta and share your feedback?
Download Link: [https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo](https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo)

[2015-05-28 22:20] jeevatkm commented on #82
Can you please try v5.0-beta and share your feedback?
Download Link: [https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo](https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo)

[2015-05-28 22:20] jeevatkm commented on #80
Can you please try v5.0-beta and share your feedback?
Download Link: [https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo](https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo)

[2015-05-29 00:13] fmaxwell commented on #85
The installation/upgrade went without a problem.

I wish I had better news to report on the testing, but as soon as I check the "Include all headers" box, I can no longer reply, reply-all, or forward.  The buttons visually indicate being pressed, but nothing happens.  I tried with various combinations of other from, to & CC, and header quoting sequence and labels, including all on default.  I was

[2015-05-29 00:54] jeevatkm commented on #85
Can you please enable RWH debug using below command and restart the Mail.app?
<pre><code>defaults write com.apple.mail MHDebugLog -bool true</code></pre>

Now watch Console.app for any errors from Mail.app.

[2015-05-29 05:03] tvnshack commented on #80
Excellent .... will do right away ...

[2015-05-29 06:02] jeevatkm commented on #85
Certain message headers were causing an issue in Yosemite. I have applied the fix. Can you please download updated beta version here ([https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo](https://app.box.com/s/qta2i4osh2lz9f2jojjg1j98fd762sdo))

Kindly let me know the outcome!

[2015-05-29 06:07] fmaxwell commented on #85
Sorry for the delay in replying.  With the box unchecked, it looks good.  With it checked, pressing the Reply button results in:

5/29/15 2:05:00.170 AM Mail[2837]: *** Assertion failure in -[MCMessageHeaders headersForKey:], /SourceCache/Mail/Mail-2100/MailCore/Message/MCMessageHeaders.m:735
5/29/15 2:05:00.171 AM Mail[2837]: Use -messageIDListForKey: for message ID header keys
5/29/15 2:05:00.17

[2015-05-29 06:15] fmaxwell commented on #85
Hi.  Sorry to report that it is still not working.  But the console contains a much more lengthy set of messages now when the Reply button is pressed:

5/29/15 2:12:04.431 AM Mail[3610]: MHHeadersEditor.m: 87 msgComposeType: 1
5/29/15 2:12:04.504 AM Mail[3610]: MHHeadersEditor.m: 87 msgComposeType: 1
5/29/15 2:12:04.512 AM Mail[3610]: MHMailMessage.m: 49 Message compose type is 1
5/29/15 2:12:04.5

[2015-05-29 06:57] tvnshack commented on #80
Wonderful !  Prefs window sizing problem fixed.

Now, perhaps you could work on this bug (
https://github.com/jeevatkm/ReplyWithHeader/issues/81).

Steps to reproduce it:

 - Open Mail and in the Viewer, select a snippet of text in a mail you've
received (this one for example)

 - With that selection active, click Reply.  The new mail composer window
proposed the text snippet adorned with the deta

[2015-05-29 19:06] jeevatkm commented on #85
@fmaxwell Thanks for your time. I'm sorry about back & forth. This is strange. Let's do following things to narrow down the problem.

Step 1: Please turn off the RWH debug mode and Close Mail.app

<pre>defaults write com.apple.mail MHDebugLog -bool false</pre>

Step 2: Please download updated version v5.0-beta here ([http://docs.myjeeva.com/rwh/ReplyWithHeader-v5.0-beta.zip](http://docs.myjeeva.co

[2015-05-29 19:13] jeevatkm commented on #80
@tvnshack - Thanks for your time and confirmation.

Let's continue our conversation in that thread.

[2015-05-29 19:22] jeevatkm commented on #81
I have followed your instruction to reproduce. However I'm unable to replicate. May be I'm missing something.

Attaching few screenshots for your reference (as per steps described - [https://github.com/jeevatkm/ReplyWithHeader/issues/80#issuecomment-106713268](https://github.com/jeevatkm/ReplyWithHeader/issues/80#issuecomment-106713268)). Can you help me to find an issue, once I have root cause; w

[2015-05-29 19:28] fmaxwell commented on #85
First, no apologies are necessary!  You’re quickly implementing a feature that I requested and I am happy to help however I can (especially since I’m retired as of last year).  I’m assuming none of this exchange is making it into any public repository.

It works!  See below.  Could I have caused the problem previously by not restarting mail after the installation of RWH 5.0 beta?  If so, I apologi

[2015-05-29 19:38] jeevatkm commented on #85
I'm happy it's working for you :) yes Mail.app requires restart every time after any plugin installation (including RWH).

Coming to your concern, Github makes every conversation about this issue as public. Please have a look on this page https://github.com/jeevatkm/ReplyWithHeader/issues/85 and let me know. So I clean up private thing into <code>[............]</code>

For private/direct conversat

[2015-05-29 19:47] fmaxwell commented on #85
I am sorry that I cost you so much time.  I installed and the preferences were immediately available, so I did not know.

I’m used to the Firefox model where most plugins work without restart and those that require restart clearly indicate it.  You may wish to modify your install script to tell the user to restart mail.

Thanks so much.  You’ve provided a tool that’s going to be invaluable for tho

[2015-05-29 20:06] jeevatkm commented on #85
I'm glad it worked for you, Thanks. Let me know if you come across any issue.

[2015-05-29 20:16] jeevatkm commented on #84
Improved date formatting  <code>EEEE, MMM d, yyyy 'at' h:mm:ss a z</code>
<pre>Sample output: Friday, May 29, 2015 at 8:07:25 AM PDT</pre>

[2015-06-02 02:46] jeevatkm commented on #81
@tvnshack - Can you provide inputs for above comments? Since I'm planning to wrap up the v5.0 development. Thanks!

[2015-06-02 20:11] jeevatkm opened #86 "Add 'Importance' header attribution in RWH"
Basically bringing <code>Importance</code> header in the message attribution like Outlook. So <code> importance and x-priority</code> email header will be transformed into
<pre>Importance: High
OR
Importance: Low</pre>
Based on values.

[2015-06-02 20:16] jeevatkm commented on #82
@modest - Did you get a chance to verify the implementation?

[2015-06-03 18:55] jeevatkm commented on #86
Done!

[2015-06-03 18:55] #86 closed

[2015-06-04 02:38] modest commented on #82
@jeevatkm The behavior is *perfect*.  I tested all the cases I could find, and they all behaved exactly as expected with Outlook parity.  Thank you!

[2015-06-05 05:47] jeevatkm commented on #82
@modest I'm glad it worked as expected :)

[2015-06-13 15:47] jeevatkm commented on #84
Done ready for release!

[2015-06-13 15:47] #84 closed

[2015-06-15 12:04] stultitia opened #87 ""reply-all" disabled with upgrade in Mac OS X Lion"
Before I upgraded to latest version, "reply-all" button was working. After upgrade, I noticed it was not working. I tried other stuff (including disabling your add-on) to no avail; and finally decided to remove your add-on. After uninstalling and restarting the Mail app, "reply-all" works again, so I have to presume your add-on is causing the issue.

Macbook Pro early 2011 OS X 10.7.5 - Mail 5.3 (

[2015-06-15 14:01] jeevatkm commented on #87
Thanks for reporting an issue. Do you see any errors in Console.app for Mail app? If you notice then can you please share those?

[2015-06-15 14:53] stultitia commented on #87
15.06.2015 17:51:42,168 Mail: -[AddressTextField addresses]: unrecognized selector sent to instance 0x7fc768c346c0
15.06.2015 17:51:42,168 Mail: -[AddressTextField addresses]: unrecognized selector sent to instance 0x7fc768c346c0
15.06.2015 17:51:42,169 Mail: (
	0   CoreFoundation                      0x00007fff8c353f56 __exceptionPreprocess + 198
	1   libobjc.A.dylib                     0x00007ff

[2015-06-15 14:57] jeevatkm commented on #87
Thanks, will get back to as soon as!

[2015-06-15 15:20] jeevatkm commented on #87
I have applied quick fix here is a download link:
https://app.box.com/s/uvtnc5e6aaxlnh40lhltw0x3mm5qq6mv

Please let me know!

[2015-06-15 15:25] stultitia commented on #87
OK I tested it to reply to your email now, and it seems to work properly.

Thanks and cheers!

[2015-06-15 15:26] jeevatkm commented on #87
You're welcome.

[2015-06-16 19:37] stultitia commented on #87
Actually it's not working again.

And this time I realized, when I quit Mail.app and repoen it, the email appears as if the button worked. I mean:
-I click the button ("reply-all", "reply", "forward"; none of them work)
-no email appears, to be sent
-I close Mail.app
-I repoen it
-now the "reply-all" (and also "forward" and "reply") email(s) that was supposed to appear, appears.

Here is the conso

[2015-06-16 20:03] jeevatkm commented on #87
First one is related with RWH and second one is not.  As per first exception i.e. date parsing error, it is strange and also it looks like cache issue of Mail.app.

How about having remote screen share to figure out the issue? If Yes then we talk about time details.

[2015-06-18 18:48] MrO007 opened #88 "Date Format in v5"
Hello,

Does the Date format in the RWH still following the regional setting?  It seems to have changed from:

Sent: 17 June 2015 11:39:10 BST

to

Sent: Thursday, Jun 18, 2015 at 3:45:28 PM GMT+1

The top one looks more natural to Outlook in the UK.

Cheers,
Mike

[2015-06-18 21:37] jeevatkm commented on #88
Yes, added the international date format. Now I feel, it's good to provide an option in RWH preferences.
I will bring an option to select localized and international date format in v5.1, sorry for inconvenience.

- Jeeva

[2015-06-18 21:42] jeevatkm commented on #88
And one more thing. v5.0 has week day info like Outlook.

[2015-07-12 18:07] MrO007 opened #89 "v5 - Doesn't seem to honour email aliases with reply all"
Hello,

I have two email address for my account.  With RWH installed, when email is received on the second address and then clicking "reply all", the second address is left in the To: field.

With RWH removed, this doesn't seem to happen.

Cheers,

[2015-07-12 18:40] jeevatkm commented on #89
We have a look and let you know.

[2015-07-13 20:12] jeevatkm opened #90 "Support for El Capitan :)"
Bring support for El Capitan. Currently it is crashing as reported by **Ed Kim**. Details below.

<pre><code>Process:               Mail [5312]
Path:                  /Applications/Mail.app/Contents/MacOS/Mail
Identifier:            com.apple.mail
Version:               9.0 (3067)
Build Info:            Mail-3067000000000000~1
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
R

[2015-07-16 09:45] marcodome commented on #87
Hi,
I have the same problem upgrading from 4.9 to 5.0; I downgraded to 4.9 again and now it works.
I use Mountain Lion 10.8.5 with Apple Mail 6.6 (1510).
Which information can I give you to track down the issue?

Regards and thank you
Marco

[2015-07-16 17:40] jeevatkm commented on #87
@marcodome Can you please try this one https://app.box.com/s/uvtnc5e6aaxlnh40lhltw0x3mm5qq6mv and share your feedback?

Also I will analyze in the meantime.

[2015-07-16 21:29] marcodome commented on #87
Thank you for the aswer: It works but it has a strange graphic effect: in the moment between I click the button and the window with the email is shown, the mail windows flashes a little bit.
I prefer the 4.9 :-/

[2015-07-17 02:16] jeevatkm commented on #87
Okay, please use 4.9 for a while. I'm working on it once done I will share it with you for a feedback.

[2015-07-17 02:18] jeevatkm commented on #90
I'm working on it. Many Internal API changes in El Capitan for Mail.app.

You can expect good news any time :)

[2015-08-13 02:24] jeevatkm commented on #88
Would you like to try v5.1-beta and share feedback on that?

[2015-08-13 02:25] jeevatkm commented on #81
As of now, didn't received an inputs. so closing it for now.

[2015-08-13 02:25] #81 closed

[2015-08-13 05:32] MrO007 commented on #88
Sure, does 5.1 also fix the Reply All issue?

Regards,
Mike

Sent from my iPhone

[2015-08-14 03:30] jeevatkm commented on #88
No, I'm working on reply-all issue. Once done let you know.

[2015-08-14 05:03] MrO007 commented on #88
Thanks very much, I'll gladly test for you.

Sent from my iPhone

[2015-08-22 06:06] jeevatkm commented on #89
Found root cause and apple internal API to figure out email aliases. Will be applying fix.

[2015-08-22 06:40] jeevatkm commented on #89
@MrO007 - I have created [v5.1-beta bundle](http://bit.ly/1LouEKr), can you please try and share your feedback? then I will make v5.1-beta for public. v5.1 will be released along with EL caption release. Since Beta releases breaks the mail bundle.

[2015-08-22 06:42] jeevatkm commented on #90
ready for v5.1-beta release

[2015-08-24 17:43] jeevatkm commented on #89
@MrO007 - did you get a chance to try out beta version?

[2015-08-27 21:18] jeevatkm commented on #89
Releasing updated v5.1-beta http://bit.ly/1LouEKr.

[2015-08-27 21:18] #89 closed

[2015-08-27 21:18] jeevatkm commented on #88
Releasing updated v5.1-beta http://bit.ly/1LouEKr.

[2015-08-27 21:18] #88 closed

[2015-08-27 21:18] jeevatkm commented on #87
Releasing updated v5.1-beta http://bit.ly/1LouEKr.

[2015-08-27 21:18] #87 closed

[2015-08-27 21:24] MrO007 commented on #89
Hello Jeevatkm, apologies, I replied to theis before and it didn't seem to get here.  5.1-Beta didn't fix the the second alias showing after Reply All.

[2015-08-27 21:26] MrO007 commented on #88
Hey jeevatkm, apologies, I tried to respond and it didn't show, the date format with the new version didn't pull the local daylight savings timezone.

With the two options you created, I get either:

Sent: August 27, 2015 at 4:45:03 PM GMT+1  <-- Should be BST

Or

Sent: August 27, 2015 at 3:45:03 PM GMT

[2015-08-27 21:28] jeevatkm commented on #89
Actually I have addressed reply-all in the latest v5.1-beta build today. Can you take latest one and try once again?

If still persist, can you please provide me a detailed scenario, I'm happy to addressed that.

[2015-08-27 21:31] MrO007 commented on #89
I downloaded and installed the file you uploaded just a minute ago.

Exchange account - multiple aliases - primary and secondary.

Email sent to the second alias.

Reply-all on the email, second alias appears in To: field.

[2015-08-27 21:33] jeevatkm commented on #88
@MrO007 No need to apologies, everyone busy with their work :)

I would like to know more on this. Since default date format as per v4.9 before approach and GMT is introduced in v5.0 just improved that.

Shall we have screen share to figure out or for me to understand better to addressed the issue?

[2015-08-27 21:35] jeevatkm commented on #89
Thanks for taking latest one.

As asked in the date format issue, shall we have screen share to sort this one too. May be during a weekend would be helpful.

[2015-08-27 21:47] jeevatkm commented on #88
If you don't mind, can you please try it once more for date format. I just uploaded the new one (use same download link). I think I misplaced the one line that might have caused GMT+1 instead of BST.

I'm sorry about taking more time from you.

[2015-08-28 08:46] stultitia commented on #87
Thanks! It looks like it works fine. And sorry for not remote sharing my screen; I was busy and I forgot to write a reply and then I forgot and then I remembered now as I checked the previous messages.

Best.

[2015-08-28 14:23] marcodome commented on #87
Thank you: in the meantime I've upgraded to Yosemite and 5.0 works fine :-)
Best Regards,
Marco

[2015-10-01 03:22] kenvantus commented on #90
Hi - wondering if you managed to make progress on El Capitan support? Thanks!

[2015-10-01 03:35] jeevatkm commented on #90
@kenvantus Yes, you can download v5.1-beta [here](http://bit.ly/1bsYyhg), released on Aug 27, 2015.
Please let me know your feedback or any issues.

*PS: Yet to be tested with final public release of El Capitan (released today) then v5.1 release will happen.*

[2015-10-01 14:39] GHubbler opened #91 "24h clock format switch, no GMT suffix"
It would be great, if you could implement 12/24h global switch for clock time independent of the current language setting. E.g. I would like to have the english attributions but also want 24h clock format.

It does not read out the proper system settings of my OS X.

Another improvement would be a setting that would allow to disable the GMT-suffix after the time. It is mostly annoying and useless

[2015-10-01 14:42] GHubbler opened #92 "Settings dialog is cutted at the bottom"
In El Capitan the settings dialog is not fully visible on my 11" Macbook Air.
![settings](https://cloud.githubusercontent.com/assets/10322831/10223827/5e4b4796-685b-11e5-825a-69073cf4131c.png)

[2015-10-01 17:50] jeevatkm commented on #92
@GHubbler Thanks for reporting an issue. I will surely address this one before v5.1 release.

I would like ask you one thing, could you please confirm RWH is working okay with El Capitan public release?

I know you have raised an another issue for Date requirements, will surely addressed those in upcoming release. However I have to make a release of working plugin for users, so they can benefit fr

[2015-10-01 17:52] jeevatkm commented on #90
@kenvantus did you get a chance to verify beta version with El Capitan OS? Please let me know.

[2015-10-02 02:02] kenvantus commented on #90
Thank you. Yes the v5.1 can be installed on El Capitan, thanks a lot. I have used it and it works ok most of the time but crashed the Mail app a couple of times. The log disappeared from my screen before I could copy it. I will send it across if I can copy it.

[2015-10-02 02:13] jeevatkm commented on #90
Thanks, your input is helpful. I will be verifying a plugin during a weekend against final release of El capitan.

[2015-10-02 19:44] timvdsm opened #93 "Small Dutch translation issue"
Hi,
I just want to mention a very small translation issue in the Dutch (Nederlands) Reply Header language.
This is the existing reply header translation:
Van: xxx
Verstuurd: 1 oktober 2015 19:28:52 CEST
To: xxx
Onderwerp: xxx

But it should be this when using outlook's example:
Van: xxx
Datum: donderdag 1 oktober 2015 19:28
Aan: xxx
Onderwerp: xxx

Many thanks for this great tool! I'm testing the

[2015-10-05 03:42] jeevatkm commented on #93
Thanks @timvdsm, will incorporate it.

[2015-10-08 10:17] fang007 commented on #90
Using the 5.1 beta on El Capitan some of my replies have the following in the body, is this a bug?

span.info-text {mso-style-name:info-text;} span.EmailStyle21 {mso-style-type:personal-reply; font-family:"Calibri",sans-serif; color:#1F497D;} .MsoChpDefault {mso-style-type:export-only; font-size:10.0pt;} @page WordSection1 {size:612.0pt 792.0pt; margin:72.0pt 72.0pt 72.0pt 72.0pt;} div.WordSection

[2015-10-08 18:54] jeevatkm commented on #90
As per above details, it is not related with RWH plugin. Do you use any other mail plugin OR Can you uninstall RWH and try using Mail.app and then let me know?

[2015-10-11 12:21] fang007 commented on #90
Does not seem related to RWH but with the HTML signature. It does not seem to matter if I use a very simple signature or the canned one created in Mail->Preferences->Signature. This only seems to happen on some replies and forwards I am doing with Exchange and I don't see this but the people I am sending emails to see this in Outlook on Windows. Any ideas on what may be going on? This is pretty mu

[2015-10-20 17:57] NX70 commented on #90
V5.1 beta works with El Capitan, but I have some problems if the subject line is empty.
I I try to reply or forward, RWH does not add the header and their Mail windows hangs.

[2015-10-20 18:05] jeevatkm commented on #90
@NX70 - Can you please help me out with Error details from Console.app?

[2015-10-20 18:10] NX70 commented on #90
I hope that helps.

[code]

[2015-10-20 18:13] jeevatkm commented on #90
@NX70 Thanks, will have a look.

[2015-10-21 19:24] jeevatkm opened #94 "RWH plugin hangs if Subject value is empty"
Reported issue [reference](https://github.com/jeevatkm/ReplyWithHeader/issues/90#issuecomment-149647852)

Error Info:
[code]

[2015-10-21 19:25] jeevatkm commented on #90
@NX70 I have verified, it seems this is existing bug in previous version too; in case subject value is empty. Created new issue #94 track that.

[2015-10-31 12:43] MrO007 commented on #89
Hello, I'm still having an issue with Reply All.  Do you want to screen share to take a look?

Cheers,
Mike

[2015-10-31 21:04] jeevatkm commented on #89
This is interesting. Could you please provide screenshot and if any errors info in the console.app for Mail.app?

[2015-11-09 19:43] jeevatkm commented on #93
Done!

[2015-11-09 19:43] #93 closed

[2015-11-09 20:51] jeevatkm commented on #94
Done!

[2015-11-09 20:51] #94 closed

[2015-11-09 21:26] jeevatkm commented on #91
RWH uses system regional Long format settings by default (same as Mail.app behavior) and GMT is format is supported.

Due to limitation, I did possible things in the plugin. I hope this is close by to your expectation.

[2015-11-09 21:26] #91 closed

[2015-11-09 21:35] jeevatkm commented on #90
@NX70 - Can you please grab v5.1-beta and try? let me know your feedback.

[2015-11-10 11:04] NX70 commented on #90
HI Jeeva,
I have just downloaded ReplyWithHeader-v5-2.1-beta and it seem to work.
I had no problem to reply to an eMail with empty subject line.
Thank you very much.

Regards, Carsten

[2015-11-10 13:16] kenvantus commented on #90
Hi, where can I download the version which solves the issue with empty subject header? I am encountering the same issue with the v5.1-beta released in August. Thanks and great job! Ken

[2015-11-10 13:17] NX70 commented on #90
I have used the one from the home page http://myjeeva.com/replywithheader

[2015-11-10 13:25] kenvantus commented on #90
OK it is an updated version then. Thank you!

[2015-11-10 18:16] jeevatkm commented on #90
@kenvantus Yesterday I released v5.1-beta update version. You can download here http://docs.myjeeva.com/rwh/ReplyWithHeader-v5.1-beta.zip.

Please let me know. I'm working towards to make final release.

[2015-12-03 09:32] timvdsm commented on #93
Hi many thanks,
Can I download the update somewhere?

Regards,
Tim

[2015-12-03 20:24] jeevatkm commented on #93
@timvdsm - Yes you can download it from here http://docs.myjeeva.com/rwh/ReplyWithHeader-v5.1-beta.zip

[2016-01-07 09:12] NX70 opened #95 "Issues with having the header below the text"
In very rare circumstances it happens that the header is below the text.
That happens only when using "reply", if I "forward" the same eMail it's all correct.

If I switch off RHW, I get the original reply line from Mail above the text, as it should be.

I'm using 5.1-beta

[2016-01-07 20:13] jeevatkm commented on #95
Thanks for reporting an issue. Could you please provide me with sample emails, so I can do testing at my end and find a way to address them?

[2016-02-10 15:46] Robbinton commented on #90
Hi, I have installed 5.1 beta on el-capitan 10.11.3. Reply is working OK but ReplyAll doesn't work. I've pressed the button and have nothing. Thank you.

[2016-02-10 16:05] jeevatkm commented on #90
Thanks for reporting an issue. Is it possible to look at Console.app for any errors from Mail.app while clicking Reply All?

This will help for analysis. Thanks.

[2016-02-12 11:55] Robbinton commented on #90
Unfortunately I found nothing in Console.app happening when I pressed
ReplyAll button. Should I start the mail application by other way for
increasing a loglevel?
And one more thing. If I switch off the radio named "Enable" in RWH
settings ReplyAll still doesn't work.

Алексей

2016-02-10 19:05 GMT+03:00 Jeevanandam M. <notifications@github.com>:

[2016-02-12 19:37] jeevatkm commented on #90
@Robbinton - After switch off RWH from Preferences, still doesn't work!!! Interesting. We can increase log level by doing this in Terminal.app (Mail.app restart required after each action).

Turn on debug mode:
[code]
Turn off debug mode:
[code]
Before we do that can you please delete RWH plugin from `~/Library/Mail/Bundles`, restart your Mail.app. Now try to typical Reply/Reply All/Forward, lets

[2016-03-05 23:45] jeevatkm commented on #92
Done!

[2016-03-05 23:45] #92 closed

[2016-03-06 08:10] jeevatkm commented on #90
done, preparing a v5.1 release.

[2016-03-06 08:10] #90 closed

[2016-03-11 15:00] stultitia commented on #87
Thanks for the new release. I hope all these are sorted out. I'll write again if I encounter any issues. I plan on moving on to El Capitan soon anyways though; that might be a bit of a refresh for me:))

Thanks again

[2016-03-11 15:53] jeevatkm commented on #87
Yes, it is sorted out. El capitan looks good. Feel free to report if you come across any issues. Thanks.

[2016-05-16 10:44] mariobig opened #96 "Header not added to forwarded mails in TB ver. 45.1.0"
Hi,

This nice plugin does not work properly with TB ver 45.1.0. It does not attach header to forwarded mails. It works OK with replied mails.

[2016-05-16 20:22] jeevatkm commented on #96
This is belongs to RWH Mozilla plugin. Doesn't belong here. Please create an issue [here](https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues).

[2016-05-16 20:22] #96 closed

[2016-07-11 01:01] jeevatkm opened #97 "Add support OS Sierra"
Will do it.

[2016-09-03 20:37] jeevatkm commented on #97
Added support in v5.2-beta

[2016-09-03 22:05] jeevatkm commented on #97
Download Page: http://bit.ly/1bsYyhg

[2016-09-16 23:04] pmarkez opened #98 "Problems with locale IT (Italian)"
RWH 5.2 beta gets disabled under MacOS Sierra GM running Italian language.

[2016-09-16 23:06] jeevatkm commented on #98
Do you see any RWH message in console.app while starting Mail.app?

[2016-09-16 23:07] jeevatkm commented on #97
Reopened for v5.2 main release preparation.

[2016-09-16 23:08] jeevatkm commented on #97
Added support for `de-*`

[code]

[2016-09-16 23:27] sharklasergithub commented on #98
I get a warning window:
**Warning: ReplyWithHeader v5.2-beta**
ReplyWithHeader v5.2-beta is currently not supported in your Locale[ italiano (Italia)(it-IT) ] it may not work as expected, so disabling it.
Please contact plugin author - https://github.com/jeevatkm/ReplyWithHeader/issues.

This is what Console reads:
Sep 17 01:24:01 MacBook-Pro-di-PM com.apple.xpc.launchd[1] (com.apple.imfoundation.

[2016-09-16 23:30] jeevatkm commented on #98
Excepted msg.

Looks like I need to add support for `it-*` locales. Will do.

[2016-09-21 13:23] ziggyke commented on #98
I've the same error as but for a different language:
**Warning: ReplyWithHeader v5.2-beta**
ReplyWithHeader v5.2-beta is currently not supported in your Locale[ Nederlands (België)(nl-NL) ] it may not work as expected, so disabling it.
Please contact plugin author - https://github.com/jeevatkm/ReplyWithHeader/issues.

Maybe instead adding support for every locales you can add an if not localize us

[2016-09-21 16:28] jeevatkm commented on #98
@ziggyke I like your suggestion. Initially plugin use to fallback to `english`, however it gave unexpected behavior, some how it break elsewhere (while reply or forward). That's why I have started logging `warn` message.

I will add support for all `nl-*` in next release. thanks for using RWH.

[2016-09-21 16:29] jeevatkm commented on #97
Referring locale support issue #98

[2016-09-22 08:25] Mawerix commented on #98
It would be great if you could add support for Swedish ;-)
ReplyWithHeader v5.2-beta is currently not supported in your Locale[ svenska (Sverige)(sv-SE) ] it may not work as expected, so disabling it.
Please contact plugin author - https://github.com/jeevatkm/ReplyWithHeader/issues.

[2016-09-22 08:27] ziggyke commented on #98
Thx jeevatkm for the reply, I'll wait with patience to the next release...

[2016-09-22 09:04] frank-zhgj commented on #98
It would be great if you could add support for Chinese ;-)

[2016-09-22 14:13] jeevatkm commented on #98
@Mawerix - Sure I will add support for `sv-*`

@frank-zhgj - RWH already has support for `zh-Hans` & `zh-Hant` locale, do you face any issues?

[2016-09-23 16:37] jeevatkm opened #99 "5.2 beta installation issue"
I know we had issues before with my username having a space in it "danhardiman 1".
If I use "Install-or-Upgrade-or-Reenable.command" then I get the following in Terminal:
--------------------------------------------------
Last login: Thu Sep 22 12:06:44 on console
Dan-Laptop:~ danhardiman$ /Users/danhardiman\ 1/INSTALLERS\ EMAIL/ReplyWithHeader-v5.2-beta/Install-or-Upgrade-or-Reenable.command ; ex

[2016-09-23 16:51] jeevatkm commented on #99
@DanHardiman It seems you're facing an issue with username again (space issue) and Apple has changes identifier for Sierra.

Manual steps will be similar to what you have followed with minor change:
 1. Copy 'ReplyWithHeader.mailbundle' file into `Users/DanHardiman\ 1/Library/Mail/Bundles/`
 2. Execute this in terminal to get UUID
   * `defaults read /Applications/Mail.app/Contents/Info.plist Plug

[2016-09-26 05:12] frank-zhgj commented on #98
@jeevatkm

Warning: ReplyWithHeader v5.2-beta

ReplyWithHeader v5.2-beta is currently not supported in your Locale[ 中文（简体、中国）(zh-Hans-CN) ] it may not work as expected, so disabling it.
Please contact plugin author - https://github.com/jeevatkm/ReplyWithHeader/issues.

[2016-09-26 05:44] ziggyke opened #100 "Enhancements for dutch language"
I've checked the source and found in:
ReplyWithHeader/ReplyWithHeader/Resources/nl.lproj/MailHeader.strings

The following:
[code]

It should be:
[code]

Thanks to take a look into this and change it, if you want.

[2016-09-26 15:21] jeevatkm commented on #98
@frank-zhgj now I understand the problem, thanks. Overall OS Sierra has improved the localization implementation.

So I will have make all the implemented locale in to `locale-*` check.
[code]

After these changes I will release `v5.2`.

[2016-09-26 15:32] jeevatkm commented on #100
Thanks for your help @ziggyke

I can update this one straight away-
[code]

However, I have to cross check with `Mail.app` internal values for (since it's used for header manipulation) -
[code]

I took these values from `Mail.app` long ago.

[2016-09-26 15:37] jeevatkm commented on #99
I'm closing this one, issues is solved.

[2016-09-26 15:37] #99 closed

[2016-09-26 15:49] ziggyke commented on #100
You're welcome.
Thanks that you would like to investigate this, Can I check in Mail.app for the values or do you have a dutch system available?

If you need help in this I'm glade to help.

[2016-09-26 15:51] ziggyke commented on #98
w00t, that would be great. Because now plugin isn't loaded and I'm stuck with the auwfull reply/forward headers! :'-(

[2016-09-26 17:01] jeevatkm commented on #100
I don't have dutch system, I use `en-US`.

I use this [languageswitcher app](http://www.tj-hd.co.uk/en-gb/languageswitcher/) for localization testing.

[2016-09-26 17:02] jeevatkm commented on #98
I will do ASAP v5.2 release.

[2016-09-30 13:34] Mawerix commented on #98
Great! Can I find a zip with v5.2 anywhere?

[2016-09-30 13:58] jeevatkm commented on #98
@Mawerix v5.2 is not released yet, I'm working on it!

[2016-10-04 20:17] f4hla opened #101 "5.2-beta localization error in FR in SierraOs"
Hi
got message
"ReplyWithHeader v5.2-beta is currently not supported in your Locale[ français (France)(fr-FR) ] it may not work as expected, so disabling it.
Please contact plugin author - https://github.com/jeevatkm/ReplyWithHeader/issues."

Found in MailHeader.m that this is localizations naming mismatch probably with the os update (change to be done in  localeIdentifier?)
Thanks

[2016-10-04 20:24] sharklasergithub commented on #98
Any way we can alter the 5.2 beta our own to get it working, while you're preparing the final public release?
Sorry for the silly question, I'm not a developer. Only tired of seeing the ugly Apple Mail headers...

[2016-10-04 21:34] jeevatkm commented on #101
@f4hla  thanks for reporting it. Apple made changes(correct legacy issues) in localization is Mail.app. I'm aware of this issue and working on it. Thanks for your patience.

[2016-10-04 21:36] jeevatkm commented on #98
@sharklasergithub I completely understand. I will make an release as soon as possible. Thanks for your patience. I appreciate it.

[2016-10-10 06:11] insekt commented on #101
The same problem with Russian.

[2016-10-11 20:09] GHubbler opened #102 "Mail.app hangs on reply or forward when a previously configured font is missing"
I had set the font for RWH to Tahoma and had it installed as system wide available.
Now, I cleaned all the old MS Office stuff from my Mac and did a fresh install of Office 2016. In Office the fonts are available in the apps, but not on system level.

RWH had now an old entry to a font that no longer exists. When replying or forwarding a mail Mail.app just hangs. In Console there is also a corresp

[2016-10-19 07:25] ziggyke commented on #98
As workaround you can do this:
Install [languageswitcher app](http://www.tj-hd.co.uk/en-gb/languageswitcher/) for changing the localization of the mail.app to English (if wanted you can configure it that it always open in English.

Then you need to go to:
Mail -> Preferences -> RWH -> enable it (your previous settings remain untouched)

If that s set when you perform a reply (all)/Forward then the

[2016-10-19 07:29] ziggyke commented on #102
Nice suggestion, I assume it is solved by changing the font to another one in the preferences of RWH?

[2016-10-19 07:31] ziggyke commented on #101
Also check other issues, before posting a new one.
#98 is already about this topic.

I've just posted this in it:
As workaround you can do this:
Install [languageswitcher app](http://www.tj-hd.co.uk/en-gb/languageswitcher/) for changing the localization of the mail.app to English (if wanted you can configure it that it always open in English.

Then you need to go to:
Mail -> Preferences -> RWH ->

[2016-10-20 02:54] jeevatkm commented on #102
I will update the default font to Helvetica in v5.2 release. Then user can choose the font they like for headers. Thanks for reporting.

[2016-10-20 02:56] jeevatkm commented on #98
@ziggyke Thanks for workaround. This weekend I will make a release v5.2.

To All RWH users - Thanks for your patience.

[2016-10-20 03:19] jeevatkm commented on #102
Done! will be released in v5.2

[2016-10-20 03:24] jeevatkm commented on #101
Done! will be released in v5.2 this weekend, for now updating v5.2-beta. you can download it right away.

[2016-10-20 03:24] jeevatkm commented on #102
Done! will be released in v5.2 this weekend, for now updating v5.2-beta. you can download it right away.

[2016-10-20 03:25] jeevatkm commented on #100
I have updated window subtitle with v5.2-beta. you can download it right away.

[2016-10-20 03:25] jeevatkm commented on #98
Done! will be released in v5.2 this weekend, for now updating v5.2-beta. you can download it right away.

[2016-10-20 03:25] jeevatkm commented on #97
Done! will be released in v5.2 this weekend, for now updating v5.2-beta. you can download it right away.

[2016-10-20 04:03] ronedwards opened #103 "Mail crashes on reply/forward continuously"
Hi there - every second time I reply or forward, mail crashes? Heres the crash file from the last one, hope that tells you something?

https://www.dropbox.com/s/0mc54jf10suq7ej/Mail_2016-10-20-142423_Ron-Edwards-27-Home-iMac.crash?dl=0

[2016-10-20 04:51] ziggyke commented on #103
It looks like simular behaviour as #102 .
Can you try to change the font before trying to reply or forward a message?

[2016-10-20 05:42] ronedwards commented on #102
Thanks, I changed the Main Message Font from Calibri to Helvetica. That didn’t work - that the font you mean or the RWH Header Typography?

Thanks
R

[2016-10-20 05:43] ziggyke commented on #102
I ment the font of RWH header.

[2016-10-20 05:57] ronedwards commented on #102
Yep, changed it to Helvetica, makes no difference!

https://www.dropbox.com/s/6e4z47618sy6rbx/Mail%20Crash.rtf?dl=0

![screenshot 2016-10-20 16 26 00](https://cloud.githubusercontent.com/assets/22950132/19547799/00c7d0ce-96e2-11e6-9617-eb949676f895.png)

[2016-10-20 06:04] ziggyke commented on #103
Ow I just noticed we are discussing this error in the wrong issue. Can you (@ronedwards) please move your messages to this issue, so it keeps visible for @jeevatkm what issue is for what?

Thanks

[2016-10-20 06:08] ronedwards commented on #103
Thanks, I changed the Main Message Font from Calibri to Helvetica. That didn’t work - that the font you mean or the RWH Header Typography?

Thanks
R

[2016-10-20 06:08] ronedwards commented on #103
Yep, changed it to Helvetica, makes no difference!

https://www.dropbox.com/s/6e4z47618sy6rbx/Mail%20Crash.rtf?dl=0

![screenshot 2016-10-20 16 26 00](https://cloud.githubusercontent.com/assets/22950132/19548064/a5940bda-96e3-11e6-9386-dd91d023e003.png)

[2016-10-20 16:35] jeevatkm commented on #103
It's very hard to say this is font related problem, my guess is string manipulation related.

@ronedwards I will give you debug build for you specifically, can you please try and share crash report. Debug build will give us enough details to trace the issue.

[2016-10-20 16:44] jeevatkm commented on #103
@ronedwards your build is ready download link: http://docs.myjeeva.com/rwh/ReplyWithHeader-v5.2-beta-ronedwards.zip

Please post your crash report in this thread.

[2016-10-20 23:00] ronedwards commented on #103
Thanks!

It's still crashing, but differently now!

https://www.dropbox.com/s/6e4z47618sy6rbx/Mail%20Crash.rtf?dl=0

[2016-10-20 23:21] jeevatkm commented on #103
Yes, it will crash. Because this build is to find out the root cause. Then I can fix it. Thanks for crash report. I will analyze it.

[2016-10-20 23:26] ronedwards commented on #103
This time it crashed in the original way

https://www.dropbox.com/s/s85nubyea3e0lyg/Crash%202.rtf?dl=0

[2016-10-20 23:32] jeevatkm commented on #103
I had a look on both report, it seems RWH plugin is not a issue. MailBulter plugin is crashing your mail.app.  Please uninstall MailBulter and try RWH plugin alone and let me know.

**Crash 1 report:**
[code]

**Crash 2 report:**
[code]

[2016-10-21 01:23] ronedwards commented on #103
Ok, looks like that was it - I've uninstalled and it now seems to be stable!

Sorry to have wasted your time - it seemed logical to me that mail on reply/forward would be RWH.

Thank you for your very quick response time and action!

[2016-10-21 01:26] jeevatkm commented on #103
I'm glad to help. Happy we sorted out and found the issue.

Feel free to create new issue going forward, if you face any issues with RWH.

[2016-10-21 01:26] #103 closed

[2016-10-21 21:24] pmarkez commented on #98
Thank you. RWH 5.2 beta updated, now is working back under macOS Sierra.

There’s only a small glitch in the date formatting: looks like now RWH always uses English formatting for the “Sent” header (“Inviata” in Italian), and it only translates some words in Italian.

Before macOS Sierra, RWH correctly used the format of the language set in the system. Now it always writes the date with the Englis

[2016-10-23 22:50] jeevatkm opened #104 "Enhance simple date format"
Conversation from Disqus: Catherine Mimeau

Hi! Thank you so much for this plugin! I have a question about the date format. I use French and the format I get is this: "Date d'envoi: 26 septembre 2016 11:04:00 UTC−3". Is there a way to get something simpler, like this: "Date d'envoi: 26 septembre 2016 11:04"? I tried changing my regional settings but nothing changed in Mail. Thank you!

---

Apple

[2016-10-23 23:11] jeevatkm commented on #98
@pmarkez I understand, I have changes for another user request. I will be reverting those changes for v5.2 release and created separate issue #104 for that.

[2016-10-23 23:42] jeevatkm commented on #102
Closing it for v5.2 release.

[2016-10-23 23:42] #102 closed

[2016-10-23 23:43] jeevatkm commented on #101
Closing it for v5.2 release.

[2016-10-23 23:43] #101 closed

[2016-10-23 23:43] jeevatkm commented on #100
Closing it for v5.2 release.

[2016-10-23 23:43] #100 closed

[2016-10-23 23:43] jeevatkm commented on #98
Closing it for v5.2 release.

[2016-10-23 23:43] #98 closed

[2016-10-23 23:45] jeevatkm commented on #97
Closing it for v5.2 release.

[2016-10-23 23:45] #97 closed

[2016-10-24 16:25] GHubbler commented on #102
In my opinion there should be also a check, if a selected font is available or not. Without this might become a security issue.

[2016-10-24 17:54] jeevatkm commented on #102
@GHubbler user will be able to select only available fonts from system. That's I have defaulted to system available font instead of `Tahoma`.

Can you please describe about security issue you mentioned about?

[2016-10-25 06:33] Stradivaria commented on #53
After the upgrade to 5.2 Bèta and the release of 5.2 everything works great again!
Language location was an issue, glad you fixed it. Now, RWH is back an got rid of apple's lousy header ;-b
Just one remark: since updating to macos Sierra, the option for selecting reply signature is void. Used to work before under El Capitan. Re-adding the sigs in mail's preferences didn't change anything.
![rwh si

[2016-10-25 16:38] jeevatkm commented on #53
@Stradivaria Can you please create an separate new issue? we can continue our discussion in new thread.

[2016-10-25 17:10] Stradivaria opened #105 "Manage signatures void selection"
Since updating from El Capitan to macOS Sierra, the selection list "Manage signatures" stays empty. This occurred both under RWH 5.2 bèta and the final release 5.2.
Under El Capitan, the mail accounts and signatures showed up correctly.
Removing and (re-)adding signatures didn't change this behavior.

![rwh sig](https://cloud.githubusercontent.com/assets/23047450/19696099/1b18b81e-9ae6-11e6-9a92-6

[2016-10-25 17:26] jeevatkm commented on #105
Do you see any errors in Console.app from Mail.app?

[2016-10-25 18:24] Stradivaria commented on #105
Not sure what to look for.
This item comes quite often : not switching as we're not in ~/Library/Keychains/: /Library/Keychains/System.keychain (0)
Don’t know if it has somehow to do with…

KR,
Nico

[2016-10-31 19:20] GHubbler commented on #102
I have learned: All and every input is eval. So, I have to check, that functions are only in defined states. Checking variables to nil, null or nothing is the first check to avoid undefined application behavior. If a user can delete a previously defined or the default font the application becomes in an undefined state and those opens the door to further implied actions. And if I can avoid those un

[2016-11-02 07:51] Stradivaria commented on #105
_Application Specific Information:
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'missing variable binding for (null)'
abort() called
terminating with uncaught exception of type NSException_

Related to RWH?
A detailed error report available via PM.

[2016-11-02 16:31] Stradivaria commented on #105
Mail[20166]: MailHeader.m: 111 ReplyWithHeader v5.2 - Is locale supported: YES
Mail[20166]: MHPreferences.m: 221 signatures: (null)

[2016-11-11 08:56] Stradivaria commented on #105
MHPreferences.m: 221 signatures: (null)
Mail[37457]: MHPreferences.m: 367 firstIndex -1, lastIndex -1
Mail[37457]: MHPreferences.m: 296 Account [(null), MH-S-(null)]: (null)
Mail[37457]: RWH: Signature mapping doesn't exist
Mail[37457]: MHPreferences.m: 367 firstIndex -1, lastIndex -1
Mail[37457]: MHPreferences.m: 296 Account [(null), MH-S-(null)]: (null)
Mail[37457]: RWH: Signature mapping doesn'

[2016-11-30 13:51] gringott commented on #105
Any update on this issue? Is it sorted meanwhile?

[2016-12-02 10:11] Stradivaria commented on #105
status quo

[2016-12-03 21:03] jeevatkm commented on #105
@Stradivaria , @gringott I'm sorry, I got busy with my personal work. I will try to work on as soon as possible. Thanks for your patience.

[2017-02-13 19:30] 22431364 opened #106 "Doesn't work with all accounts"
Hi,

RWH works okay with my @live.com account but doesn't work with the other accounts that I have linked to Mail.

Is there a config that I need to do or some other setting?

Thanks in advance.

[2017-02-13 21:27] jeevatkm commented on #106
@22431364 Can you please check console.app for any error info? RWH works with all the mail accounts (myself using iCloud, Gmail, outlook, Exchange accounts).

There is a known is with OS serria mail.app doesn't work for signatures. I caught up in my personal family issues, as of now I'm unable to work on. I will do as soon as I get a time.

[2017-02-28 13:42] sickidolderivative opened #107 "On "date", "author" wrote:"
Hi

When replying to emails I get the "On 28 Feb 2017, at 10:58, Name Lastname <email@address> wrote:" line below the proper RWH header. Is there a way to remove it?

I'm using Mail 10.2 on MacOS Sierra.

Thanks!

[2017-02-28 20:15] jeevatkm commented on #107
Is RWH plugin is active in your Mail preferences? Can you please verify it?

Whenever you update the OS X, apple deactivates the third party plugins. So you need to re-run the installer as mentioned in [FAQ](https://myjeeva.com/replywithheader#faq).

[2017-02-28 20:32] sickidolderivative commented on #107
Yes, the plugin is active. It's a fresh install - the plugin was installed just few days ago. The plugin is working, as it generates the RWH header. The "On <Date>, <Author> wrote:" line appears below the RWH header.

[2017-02-28 20:35] jeevatkm commented on #107
Okay, understood. Can you please share your RWH mail preferences screenshot?

Also can you please keep eye on Console.app for any errors from Mail.app while doing Reply/Forward? If any please post it here.

[2017-02-28 21:19] sickidolderivative commented on #107
Please find the screenshot of the settings: https://www.dropbox.com/s/efll50wkg4429oa/Screen%20Shot%202017-02-28%20at%2021.53.39.png?dl=0

[2017-03-01 00:07] jeevatkm commented on #107
Thanks for the screenshot.

Can you also help me with error info from console.app? Because Mail.app or RWH plugin surely logs if anything goes wrong. It helps me to understand the problem, so I can fix or give you a suggestion.

[2017-03-01 08:45] sickidolderivative commented on #107
Below are errors and faults found when searching for "Mail.app", yet no entries are generated when invoking reply or forward.

==== XPC handleXPCMessage XPC_ERROR_CONNECTION_INVALID

Failed to read values in CFPrefsPlistSource<0x600000ae5900> (Domain: com.apple.PowerManagement, User: kCFPreferencesAnyUser, ByHost: Yes, Container: (null)): accessing preferences outside an application's container re

[2017-03-02 13:19] sickidolderivative commented on #107
Is there any hope?

[2017-03-02 17:14] jeevatkm commented on #107
Thanks for sharing error info. This error is not belongs to RWH.

As of today I have not updated my MacBook to mail.app v10.2, let me give it try at my end and get back to you.

If I'm unable to find any, are you okay to do screen sharing session with me to do analyze the issue?

[2017-03-13 03:41] jeevatkm opened #108 "User Reported RWH in not Working in 10.12.4 public beta"
- It seems Apple shipping breaking change in Mail.app on OS 10.12.4 eventually

I will work on as soon as I update MacBook into this version, thank you.

[2017-03-28 15:11] michelef opened #109 "Crashes with Sierra 10.12.4 on ReplyAll"
Hi,
It crashes in Sierra 10.2.4 when Replying to ALL.
Reply to a single individual seems to work well.

Process:               Mail [74052]
Path:                  /Applications/Mail.app/Contents/MacOS/Mail
Identifier:            com.apple.mail
Version:               10.3 (3273)
Build Info:            Mail-3273000000000000~1
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Resp

[2017-03-28 16:30] jeevatkm commented on #109
@michelef It seems you're 10.12.4 version. In OS 10.12.4 Apple brings breaking changes. I'm working on it.

Could you please help me out for the Testing once I'm done with changes?

[2017-03-28 16:55] michelef commented on #109
Sure. I'll be very happy to help.
And thanks for the prompt reply
Michele

Sent from my iPhone

[2017-03-28 16:57] jeevatkm commented on #109
Thank you.

[2017-03-28 16:58] jeevatkm commented on #108
Closing this in-favour of #109

[2017-03-28 16:58] #108 closed

[2017-03-30 08:12] MrO007 commented on #109
Hey, I don't get a crash on Reply/Reply-All.  Only unresponsive Reply/Reply-All buttons.

Cheers,
Mike

[2017-03-30 23:34] networkjitter commented on #109
I am only having an issue with reply all, reply seems to work just fine.

-Aaron

[2017-03-30 23:39] michelef commented on #109
Yes, me too, only ReplyAll

[2017-03-30 23:41] jeevatkm commented on #109
@MrO007 @michelef @networkjitter Thank you for your inputs.

[2017-04-01 00:03] jeevatkm commented on #106
Closing it

[2017-04-01 00:03] #106 closed

[2017-04-01 01:48] jeevatkm commented on #109
@michelef @MrO007 @networkjitter I have prepared the RWH v5.3 beta. Please test it at your end and let me know the feedback. Then I will make a public release.

Download link: http://bit.ly/2nFIxyw

[2017-04-01 12:02] ziggyke commented on #109
I've tested RWH v5.3 beta and reply all is fixed, but also not changing the headers with multiple signatures! It works perfect again!

[2017-04-01 12:03] ziggyke commented on #105
I can confirm that RWH v5.3 beta fixes this issue.
You can download it at issue #109

[2017-04-01 12:03] gcabanac commented on #109
I concur: the crash no longer occurs with Reply All :-)
Thanks :-)

[2017-04-01 12:05] ziggyke commented on #95
I can't reproduce this problem with RWH v5.2 and not even with v5.3 beta.
So until someone can handover jeevatkm some examples this won't/can't be fixed.

[2017-04-01 12:06] ziggyke commented on #77
I don't think this is possible or allowed by Apple. Because the function isn't (yet) built into mail.app

[2017-04-01 12:10] ziggyke commented on #107
Have you tried by disabling/uninstalling other mail plugins which may interfere with RWH?
Otherwise try to use the new RWH v5.3 beta downloadable in issue #109

At this moment I don't have any issue with the new beta RWH v5.3

[2017-04-01 12:13] ziggyke commented on #104
I can confirm that RWH v5.3 beta fixes this issue.
You can download it at issue #109

[2017-04-01 18:28] jeevatkm commented on #109
Thank you @ziggyke @gcabanac for your confirmation. I will make a public release.

[2017-04-01 18:29] jeevatkm commented on #105
@ziggyke thank you for testing signature as well.

[2017-04-02 22:38] jeevatkm commented on #104
RWH uses OS date and format settings. I'm particularly manipulating date format. I'm closing this and leaving a choice to user.

[2017-04-02 22:38] #104 closed

[2017-04-02 22:39] #105 closed

[2017-04-02 22:39] jeevatkm commented on #107
Thanks @ziggyke

[2017-04-02 22:40] #107 closed

[2017-04-02 22:40] #109 closed

[2017-04-25 02:53] bstempel opened #110 "Overzealous Reply All"
On Sierra (10.12.4) with RWH v5.3, I'm seeing two unfortunate behaviors:

1) When I "Reply All" from within an e-mail, I'm always being copied even though I have not selected the checkbox to automatically Cc: myself. I do not see this behavior when I "Reply All" from the mailbox/preview view, nor do I see it if I uninstall RWH.

2) Even if I disable RWH from the mail.app preference pane, I see the

[2017-04-25 04:43] jeevatkm commented on #110
Thanks for verifying it. Nice issue subject name :) Seems like Mail.app is doing more wonderful.

Can you please help me to confirm?
* Is this happening without RWH installed?
* Is this happening for all email addresses or only email aliases?

[2017-04-25 05:20] bstempel commented on #110
No, it stops if I uninstall RWH.

I have no aliases - this is for an Exchange account.

Thanks!

[2017-04-25 10:59] tholstro commented on #110
Ahhh.. I too experience this and didn't realize this was caused by RWH. You're right. Thank you bstempel!

[2017-04-25 17:12] jeevatkm commented on #110
Hmm, @bstempel @tholstro Looks like I have to trace the issue.

Thanks for letting me know.

[2017-04-26 16:17] marcodome commented on #110
Hi, I experienced this problem too: what can do to trace the issue?

[2017-04-26 16:55] jeevatkm commented on #110
@marcodome Can you help me to reproduce this issue with steps? so that I can follow the same steps to find the root cause and fix it.

Thing is I have Gmail, iCloud, and Zoho mail server with my own domain email accounts configured in my Mail.app. This issue is not happening frequently (does happen occasionally). So I'm having difficulty to figure the problem.

[2017-04-27 08:10] marcodome commented on #110
So far, it seems that it happens always in both these conditions:
- I open the email and I reply to all from within an e-mail (it doesn't happen if "Reply All" from the mailbox/preview view)
- I'm in "To:" in the received email: it does not happen if I'm in "Cc:"

I have just 1 account configured, in Outlook365.
I have also UniversalMailer plugin installed but it isn't enabled (and it hasn't been

[2017-04-29 18:02] jeevatkm commented on #110
@marcodome Thank you very much for your analysis. Let me put log statement and follow your instruction to find the problem.

[2017-04-29 18:20] bstempel commented on #110
Note that the first bullet in marcodome's description matches my observation from the original post:

I had not observed the relationship between To: and Cc:, but I can confirm it.

[2017-04-29 21:10] marcodome commented on #110
@bstempel Yes, I used the same words of your post: they were very clear (at least to me!), so I thought that reusing was the best choice

[2017-04-29 21:36] jeevatkm commented on #110
@bstempel @marcodome Thank you, let me do my debug to find out the problem and get back to you guys.

[2017-05-20 11:20] mshahat commented on #110
Same symptoms here ... any resolution expected soon ?

[2017-05-22 18:54] jeevatkm commented on #110
@mshahat Yes, I will make it.

[2017-06-14 03:07] bstempel commented on #110
@jeevatkm, any estimate on when a fix will be available? Anything we can do to help you debug? Thanks!

[2017-06-14 03:20] jeevatkm commented on #110
@bstempel I have started the work week ago then I got occupied with my day job. Thank you for your patience.

May be in a week or two I will do it.

[2017-06-14 03:21] bstempel commented on #110
Understood...thanks for the update!

[2017-06-15 21:59] jeevatkm commented on #110
@bstempel @mshahat @marcodome Need help for testing the fix.

Download link for v5.4-beta: http://bit.ly/2suSfId

[2017-06-18 14:19] mshahat commented on #110
Hi, thanks for that.

If i receive an email with reply-to , reply-to-all doesn't behave right, reply only gets the right address.

otherwise, looks good to me. well done.

/Mo

[2017-06-18 20:39] jeevatkm commented on #110
@mshahat Thanks for verifying the fix.

Can you please explain in detail about this?

[2017-06-23 11:03] mshahat commented on #110
send an email to your self with reply-to another email , if you do reply-all it won't work as expected.

also, reply-all still not working fine after the 5.4-beta ;(

[2017-06-23 19:07] jeevatkm commented on #110
I will debug this to see what happening?

Do you mean above reply-to header scenario or some other scenario?

[2017-06-23 21:17] mshahat commented on #110
Hi Jeeva, for the second point, it's the reported issue here. I think beta is not solving it, it's still taking place. will try to focus more over the next couple of days, to see if i can predict a pattern. Thanks,

[2017-06-23 21:19] jeevatkm commented on #110
@mshahat Thanks, I look forward to your inputs. In the mean time I will analyze the reply-to header scenario.

[2017-07-11 21:18] Fatness7 opened #111 "RWH Apple Mail"
I am experiencing problems after restarting I will try to reply to an email and the header doesn't get added, the recipient removed and then I can't close the window - then I restart again. I am only able to reply to 1 or 2 emails before the error happens again.

[2017-07-11 21:26] Fatness7 commented on #111
OS Version: 10.12.5 (16F73)
RWH Version: 5.3
Any Plugins other than RWH: MailButler Installed version 6872
Error Details of RWH from Console.app:

[2017-07-11 21:39] Fatness7 commented on #111
Please disregard - MailButler plugin is the problem. I disabled and the problem has stopped.

[2017-07-11 21:52] Fatness7 commented on #111
It is still happening but I don't see anything related to RWH in the console.app..

[2017-07-11 21:54] jeevatkm commented on #111
Your version details is exactly same as my machine.

Can you please uninstall Mailbulter and do fresh install of RWH v5.3 then try out?

I will would like to remove possibilities while debugging. Also RWH will sure log error if anything goes especially your scenario.

[2017-07-16 12:34] mshahat commented on #110
so far, the issue of reply to ( including own email ) is still there ... do you need any log to analyse ? thanks

[2017-08-01 19:02] jeevatkm commented on #111
Closing it. Thanks.

[2017-08-01 19:02] #111 closed

[2017-08-08 20:36] jeevatkm opened #112 "macOS High Sierra is released"
Test RWH and add compatibility if it breaks :)

[2017-08-22 01:40] macjeff commented on #112
Definitely 5.3 wont run under High Sierra.

Is there a 5.4 beta yet?

[2017-08-22 01:48] jeevatkm commented on #112
@macjeff Thanks for your feedback.

This week I'm planning to install beta version and work on RWH. Pretty packed with my day work.

Once v5.4-beta is ready then I will ping you here.

[2017-09-06 01:00] jeevatkm commented on #112
I was working on RWH 5.4-beta. Last week my MacBook crashed. It's currently in Apple Service. As soon as I get it back. I will resume my work. I'm sorry about the delay. Thank you for your patience.

[2017-09-09 23:24] jeevatkm commented on #112
This morning I got my macbook back. Logic board got replaced.

High Sierra beta mail.app has lot of internal changes Apple brought it in. RWH breaks in all three key functionality Reply, Reply All and Forward.

I'm woking on it, will fix every breaking changes. Thanks for your support.

[2017-09-26 01:44] jeevatkm commented on #112
Dear All - I know, apple has released the high sierra today. This OS has many internal changes in Mail.app. I'm working on it make RWH fully compatible with High Sierra.

Looking forward to your support and thank you for your patience.

[2017-09-27 03:55] jeevatkm commented on #112
I have made RWH work with High Sierra 10.13. However RWH mail preference UI cut off. Need to work.

Good news is RWH functionality is ready to use with high sierra.

[2017-10-01 17:38] macjeff commented on #112
I have another request and maybe you have a way around it.  I do seed testing for Apple so I am RARELY on the current OS version.   All my mail plugins wont work.  99% of them work fine but they have the up to this version set so it wont work under any versions past that.   Could you post a version without that check for people doing testing?  That way I can enjoy some of the features!!!  A warnin

[2017-10-31 20:22] funnel20 commented on #112
Hi,
Is the project discontinued, or is there any hope for High Sierra?

[2017-10-31 20:43] jeevatkm commented on #112
@funnel20 RWH is very much active and I'm maintaining it. Its just Apple made the life little harder then before.

`v5.4-beta` was released few weeks ago with High Sierra support. Still few RWH preferences related UI work is needs to be reverse engineered and adapt.

You can download it from here: https://myjeeva.com/replywithheader

Also if you're using `v5.3` RWH, you could have got the beta upd

[2017-11-19 20:26] funnel20 commented on #112
@jeevatkm Thanks. Any idea when the Preferences will work?

[2017-11-26 01:53] jeevatkm commented on #112
@funnel20 Still I haven't found a way to fix. It seems many other mail plugins have same preference cut issue.

I'm thinking of bringing RWH menu bar options as an alternate for preference options.

[2017-12-03 04:28] jeevatkm opened #113 "V6.0 High Sierra and above"
I'm planning to start `v6.0` RWH for High Sierra and above mac OS. Since apple brought plenty of internal changes and improvements.

It is prefect opportunities to evolve RWH too. So I'm closing `v5.4-beta` and stepping into `v6.0`.

Note: `v6.0` will work High Sierra and above. Stay tuned :)

[2017-12-03 04:29] jeevatkm commented on #112
Closing this moving towards #113 Thank you

[2017-12-03 04:29] #112 closed

[2017-12-03 04:29] jeevatkm commented on #110
I have done improvements also moving towards #113, thank you :)

[2017-12-03 04:29] #110 closed

[2017-12-03 04:32] jeevatkm commented on #95
@ziggyke Thank you for your research. I'm closing this and also moving towards #113.

[2017-12-03 04:32] #95 closed

[2018-04-30 15:32] deepers opened #114 "Support for Thunderbird 60"
Hi,

I was testing out the Thunderbird 60.0 beta release, and I noticed that ReplyWithHeader is not compatible. Would you be able to provide support for Thunderbird 60?

Thanks,
Deepee

[2018-04-30 18:39] jeevatkm commented on #114
@deepers Thanks for asking. You have created a ticket in wrong repo. RWH thunderbird repo is here https://github.com/jeevatkm/ReplyWithHeaderMozilla.

Surely RWH Mozilla would support 60 release. For now please refer to this thread jeevatkm/ReplyWithHeaderMozilla#61

I'm closing this one, please create an issue there https://github.com/jeevatkm/ReplyWithHeaderMozilla going forward. Thank you.

[2018-04-30 18:39] #114 closed

[2018-05-01 17:05] deepers commented on #114
Sorry about that. Thanks,
Deepee

[2018-05-01 17:57] jeevatkm commented on #114
@deepers no worries, yesterday I have updated v2.0-beta for TB 60.* here jeevatkm/ReplyWithHeaderMozilla#62 Thanks.

[2018-06-09 16:43] nicbedford opened #115 "Mojave support"
5.4 beta is not working on macOS 10.14 Mojave beta 1

[2018-06-09 18:54] jeevatkm commented on #115
@nicbedford Thank you for the information. I will work on it.

By any chance if you have captured error info, could you post it here?

[2018-06-09 19:15] nicbedford commented on #115
I'm not sure what error info you are after?

Install script appears to run correctly:

RWH:: Starting installation...
RWH:: Mail Plugin - ReplyWithHeader
RWH:: Mac OS X version: 10.14
RWH:: Mail.app 12.0 [Build 3445.100.9.7]

RWH:: Plugin is already installed, let's upgrade it
RWH:: user 'nbedford' is installing plugin
RWH:: Enabling plugin support in Mail.app
RWH:: Domain is /Users/nbedford/Libra

[2018-06-09 19:31] jeevatkm commented on #115
Typically logs could be viewed via console.app and search option exists in that app.

I will start to setup Mojave at my end then investigate it, thanks.

[2018-06-09 19:38] nicbedford commented on #115
I did check Console.app and searched for ReplyWithHeader, it showed nothing

[2018-06-16 15:43] jeevatkm commented on #115
My subscription is expired. I'm not planning to renew for while. It seems I will have to wait for public beta release date 🤔.

[2018-09-01 09:02] jeevatkm commented on #115
Mojave new security model completely hindering development of plugin and plenty of API changes happen :(

[2018-09-21 02:58] jeevatkm commented on #115
Good news, found the issues on Mojave 😄

Its mainly related to explicit permission model introduced by Apple in Mojave OS. I will fix (or create a document how to install it) and make a release.

[2018-09-21 03:12] jeevatkm commented on #115
@nicbedford I need help in testing the v5.4 beta version of plugin.

Could please install v5.4-beta  on Mojave OS using following steps and share your feedback?

* Extract the `ReplyWithHeader-v5.4-beta` zip archive
* Open Terminal.app and go to extracted RWH directory
* Run `sudo ./Install-or-Upgrade-or-Reenable.command`
* Now open Mail.app
* Go to `Mail -> Preferences -> General Tab -> click but

[2018-09-21 07:10] nicbedford commented on #115
I can see RWH in the Mai l-> Preferences -> General Tab -> Manage Plug-ins. But after I enable it and restart it loads pops up a dialog saying not compatible with Mail v12 and then immediately unloads.

[https://www.dropbox.com/s/orj67oxl4xwxqr3/Screenshot%202018-09-21%2007.18.07.png?dl=0](url)

[2018-09-21 18:42] jeevatkm commented on #115
@nicbedford Thank you. I believe its related to plugin UUID part. I will make a respective change and get back to you.

BTW, could you please share the output of `sudo ./Install-or-Upgrade-or-Reenable.command`?

[2018-09-21 18:57] nicbedford commented on #115
[code]

[2018-09-21 19:04] jeevatkm commented on #115
Thank you @nicbedford

[2018-09-25 10:13] mshahat commented on #115
waiting for that, as soon as possible please ...

[2018-10-01 16:56] markcarroll commented on #115
This is still not working for me.

RWH:: Starting installation...
RWH:: Mail Plugin - ReplyWithHeader
RWH:: Mac OS X version: 10.14
RWH:: Mail.app 12.0 [Build 3445.100.39]

RWH:: Plugin is already installed, let's upgrade it
rm: /Users/mark/Library/Mail/Bundles/ReplyWithHeader.mailbundle: Operation not permitted
cp: ./ReplyWithHeader.mailbundle: unable to copy extended attributes to /Users/mark/Li

[2018-10-01 17:59] jeevatkm commented on #115
@markcarroll Thanks for the log and error info.

Technically I have made `v6.0-beta` work with Mojave OS (last weekend). However I have not yet found a best way sort out permission issue and RWH preference UI cut (outstanding issue).

Mojave OS really giving me hard time 😢

[2018-10-09 05:04] jeevatkm commented on #115
@nicbedford @mshahat @markcarroll I have prepared RWH v6.0-beta http://bit.ly/2E61TID

Archive include install instructions for Mojave OS. Could you please try and let me if any thing broken?

FYI, RWH preferences moved to Mail.app menu bar under `RWH` menu.

----

After I collect the good no. of user feedbacks then I will do clean up and final changes for `v6.0` release next week.

[2018-10-09 05:07] Daskarzine commented on #115
Thanks Jeeva - working for me!! Yay!

[2018-10-09 05:17] jeevatkm commented on #115
@Daskarzine Thanks for your confirmation. Give it a try few days, please do let me know if any issues. I will fix it in v6.0 release.

[2018-10-09 07:12] nicbedford commented on #115
I follow all steps and I still get Incompatible Plug-ins Disabled dialog as shown above :(

[2018-10-09 16:02] zmbarry commented on #115
Works for me too.  I can not see the RWH preferences pane but replying to email inserts the Outlook-style header.  Thank you!

[2018-10-09 16:05] jeevatkm commented on #115
@nicbedford

 If you're getting dialog, it means you're facing an permission issue or UUID is not getting added to RWH plist.

Could you delete existing RWH plugin from `~/Library/Mail/Bundles` manually (if any)? Then apply the steps from `Install-Instructions-Mojave-OS-and-Above.txt`.

I'm expecting `v6.0-beta` should work with Mojave OS. I may be expecting some other hiccups since a lot of inter

[2018-10-09 16:06] jeevatkm commented on #115
@zmbarry RHW preferences moved to main menu. You should be seeing `RWH` menu in the menu bar.

[2018-10-09 18:21] nicbedford commented on #115
I have it working now. I was running the **Install-or-Upgrade-or-Reenable.command** from terminal (I had definitely restarted after adding FullDiskAccess permission).

I now just double clicked **Install-or-Upgrade-or-Reenable.command** instead and it worked.

I don't understand, but I'm happy

[2018-10-09 23:58] jeevatkm commented on #115
@nicbedford Glad to hear, its working for you. Keep me posted if you notice any issues.

[2018-10-10 08:10] BonnEconLab commented on #115
The v6 beta works for me, too. A great many thanks for this helpful plug-in!

[2018-10-11 18:53] mttransplant commented on #115
The v6 beta seems to be working for me as well. Thank you!

[2018-10-12 19:50] gcabanac commented on #115
The v6.0-beta works like a charm on macOS Mojave, Mail v12.0. Thanks!

[2018-10-13 12:18] in4philo commented on #115
It works like a charm ! Thanks a lot Jeeva !!

[2018-10-19 16:45] markcarroll commented on #115
Install worked out fine once I actually followed the instructions. ;)

There is a typo on the preferences pane:  "Include header **_bule_** line"
https://github.com/jeevatkm/ReplyWithHeader/commit/181f41e29620874901f904f078cdb25bc2a60a62#r30974313

[2018-10-19 16:53] jeevatkm commented on #115
@markcarroll Oops! I will correct it. Yesterday I added that new option.

[2018-10-21 22:46] JayBrown opened #116 "[BUG] v6.0: Preferences plugin GUI not working: High Sierra 10.13.6"
The mail plugin itself seems to work: it does change the header, but the plugin settings are not accessible in Apple Mail preferences, i.e. there's no way to configure it, at least not from the GUI.

High Sierra 10.13.6

[2018-10-22 04:41] jeevatkm commented on #116
@JayBrown RWH preferences UI moved to main menu(look for RWH menu). I have mentioned in the release notes/changelog.

Background: Due to Mail.app internal changes. RWH preferences UI was cut off in Mail preferences, so it have been moved to main menu.

This is not a bug.

[2018-10-22 09:38] JayBrown commented on #116
Yeah, that was the weird thing. I knew about this, but the RWH menu didn't show up after first install. (Had to try several times; see below.) So I figured that was for Mojave only, not for High Sierra. I just did a fresh install, and this time the RWH menu appeared.

Can't say what went wrong the first time. Maybe it's because I didn't remove the quarantine xattr before installing? I did get the

[2018-10-22 09:48] JayBrown commented on #116
It finally worked, but only after a clean install. The first time around there was no "RWH" menu, so I thought this was for Mojave only. Don't know what went wrong. Maybe it's because I didn't remove the quarantine xattr from the downloaded files before installing? I tried running the .command again, but Mail complained at launch that RWH wasn't compatible with Mail 11.15. Then tried installing ma

[2018-10-22 14:36] jeevatkm commented on #116
Nice its working for you. That's really wired it didn't worked for you in first or second go. My best guess is individual machine permission related issue.

RHW v6.0 is High Sierra and above. Since mail preferences UI cut started on OS High Sierra onwards. I couldn't find a way to fix within mail preferences way (that's why I didn't release v5.4 at all). Then I have decided to move the RWH prefere

[2018-10-22 14:36] #116 closed

[2018-11-10 21:07] defrilitus opened #117 "Locale Error"
This is indeed an excellent plug-in, but it contains a locale error.
In Apple Mail, when I choose the “English” date format in RWH (version 6.0), it comes out as “November 5, 2018 at 3:20:27 PM EST”. However, this is not English, but American (en-US).
All other major countries that employ English as a major language (e.g., UK, Ireland, Canada, Australia, New Zealand, South Africa) use the en-GB st

[2018-11-11 02:46] defrilitus opened #118 "Double Spacing Between Reply Header and Original Message"
RWH always inserts two blank lines between the reply header and the original message.
One blank line is necessary, but two is… one line to many ;-)

[2018-11-14 19:52] defrilitus commented on #118
Sorry, I figured out how to resolve this in the preferences. Apologies, my error.

[2018-11-14 19:52] #118 closed

[2018-11-18 09:17] jeevatkm commented on #117
@defrilitus Thanks for reporting an issue.

RWH Mac plugin should work properly on Locale as its uses [Mac OS settings](https://github.com/jeevatkm/ReplyWithHeader/blob/master/ReplyWithHeader/MHHeaderString.m#L506-L507) unlike a RWH thunderbird plugin.

Screenshots for your references.
<img width="671" alt="screen shot 2018-11-18 at 1 13 13 am" src="https://user-images.githubusercontent.com/117597

[2018-11-18 19:39] defrilitus commented on #117
@jeevatkm What you write above directly contradicts what is written on https://myjeeva.com/replywithheader, under Multilingual/Localization, where you state, with reference to the Apple plug-in, that "Header attribution in chosen language regardless of system locale/language. For e.g. system language is in Japanese & header attribution in English".
Also, why would you have a choice of locale withi

[2018-11-19 04:33] jeevatkm commented on #117
@defrilitus Yes, this is "system language is in Japanese & header attribution in English" possible with RWH plugin.

Honestly I forgot the reason, date and time handling was implemented many years ago I believe its 2013 or 2014.

I will analyze the date and time issue, Thanks.

[2018-11-20 20:19] AlainCallebaut commented on #115
On MacOS Mojave 10.14.1, using ReplyWithHeader v6-2.0:
Incompatible Plug-ins Disabled
Contact the makers for versions that are compatible with Mail 12.1

[2018-11-20 21:19] jeevatkm commented on #115
@AlainCallebaut On every macOS release Mail.app gets a new UUID. All you have to do is. Just reinstall RWH plugin, it will work.

[2018-11-20 22:06] AlainCallebaut commented on #115
I did reinstall it.  Even uninstalled and installed again. It gives me the same error message...

[2018-11-21 03:08] jeevatkm commented on #115
@AlainCallebaut Its strange I'm using `10.14.1` too with RWH plugin on it. It's doing good.

So you have followed the steps from `Install-Instructions-Mojave-OS-and-Above.txt` and still you're getting an error?

[2018-11-21 13:43] AlainCallebaut commented on #115
Yes I did.
Finally I found the cause of the problem, and a work around.
It seems that the security of Mojave is completely screwed. Your script performs a 'defaults write' to add the UUID. However, due to security restrictions, the plist is not updated.
When editing the plist manually (with XCode, after assigning XCode FullDiskAccess) and adding that key and value, it works as expected.
I added /u

[2018-11-21 19:23] jeevatkm commented on #115
@AlainCallebaut Thanks for the update.

Did you provide Terminal.app (or iterm.app whichever you're using) FullDiskAccess and still UUID is not updated in the plist? If yes I have to investigate this part of issue, please confirm.

Basically installer adds UUID in to RWH plist before it installs a plugin into `~/Library/Mail/Bundles`.

[2018-11-21 19:43] AlainCallebaut commented on #115
Yes I did. I used the Terminal.app.
Here is a screenshot of the Security settings (don't know if it will show up).
<img width="636" alt="screenshot 2018-11-21 at 20 41 29" src="https://user-images.githubusercontent.com/45213689/48864774-e3c1af00-edcd-11e8-828f-837d0d43a144.png">

[2018-11-21 20:03] jeevatkm commented on #115
@AlainCallebaut Thank you for your confirmation. I will investigate this issue.

[2018-11-21 20:07] jeevatkm opened #119 "Investigate plist UUID update issue on Mojave OS"
RWH User @AlainCallebaut have [reached out](https://github.com/jeevatkm/ReplyWithHeader/issues/115#issuecomment-440415894) and reported UUID on `plist` is not updating due to Mojave OS 10.14.1 security restrictions.

**Notes from user:**

Finally I found the cause of the problem, and a work around.
It seems that the security of Mojave is completely screwed. Your script performs a 'defaults write'

[2018-11-22 23:59] ghost opened #120 "reply with header disabled for mac mail 12"
[ReplyWithHeaderFault.docx](https://github.com/jeevatkm/ReplyWithHeader/files/2609428/ReplyWithHeaderFault.docx)

[2018-11-23 01:36] anjikn commented on #120
Reply With Header doesn't seem to work with Mai V12. Is there a fix for this?

[2018-11-26 22:57] jasimon9 commented on #115
I do all the steps, and still get the incompatible with Mail 12.1 message, and RWH does not load in menu and does not function.

[2018-11-28 16:34] PSC-1 commented on #120
The Installer doesn't seem to access the folders correctly.
You can do this manually to make it work.

- Close Mail.
- In Finder, press Command+Shift+G
- In the pop-up box, Enter: **/Users/_[YOUR NAME]_/Library/Mail/Bundles**
- Delete the existing **ReplyWithHeader.mailbundle**
- Copy the new one from the recent v6.0 downloaded unzipped folder to that folder.
- Start Mail.
- Go to "Mail > Preferen

[2018-12-06 05:42] jeevatkm commented on #117
@defrilitus Thanks for the ping. I have a plans to work on. However I'm unable to provide timeline. I'm occupied with my day work and other priorities.

[2018-12-06 17:12] defrilitus commented on #117
@jeevatkm Thanks for the update.

[2019-02-08 18:06] jorgeberman opened #121 "Reply with header for macOS Mojave 10.14.3 disabled"
[Jorge Mail Log.zip](https://github.com/jeevatkm/ReplyWithHeader/files/2846283/Jorge.Mail.Log.zip)

[2019-02-09 04:13] jeevatkm commented on #121
@jorgeberman I had a look at the provided log file. It does not contain any error related to RWH.

Typically, whenever macOS update has been released, `Mail.app` plugin compatible ID gets changed. So the user has to re-run the installer then installer to use RWH again.

Could you please let me know, what you have tried and steps you have followed so far?

[2019-02-09 04:13] jeevatkm commented on #120
I'm closing this one.

[2019-02-09 04:13] #120 closed

[2019-02-10 08:21] jeevatkm opened #122 "Add debug checkbox in the About tab"

[2019-02-10 09:45] jeevatkm commented on #117
@defrilitus I have prepared `v6.1-beta` for Apple Mail, please try out and let me know. RWH should work as documented. Also added `en-GB` locale.

https://docs.myjeeva.com/rwh/ReplyWithHeader-v6.1-beta.zip

[2019-02-11 03:44] defrilitus commented on #117
I've checked out the beta. "English" and "English (United States)" appear to be the same. With regard to "English (United Kingdom)", RWH gives me, for example, "Friday, 25 January 2019, 16:28". Outlook for Mac, on the other hand, gives me "Fri 25 Jan 2019 at 16:28". MacOS Mail gives me something very similar when using forward: "Fri 25 Jan 2019 at 16:28:25". If you could convert to either of the l

[2019-02-11 06:22] jeevatkm commented on #117
@defrilitus I appreciate your efforts for trying out the beta version.

I have left existing localization as-is for backward compatibility and added `en-US` and `en-GB`. The choice is left to users to choose.

Personally, I have only access to outlook.com and Office 2016/Office 365 at work on Windows. In that date format is -

[code]

With your issue report, I got an opportunity to address the dat

[2019-02-11 06:23] jeevatkm commented on #117
I'm closing this one 😄 Will be released as part of `RWH v6.1`.

[2019-02-11 06:23] #117 closed

[2019-02-11 13:16] jorgeberman commented on #121
Thank you for your answer.

With Mail.app closed, I’ve ran Uninstall.command and then Install-or-Upgrade-or-Reenable.command but RWH does not appear . . .

Jorge N. Berman
jorge@berman.com.ar <mailto:jorge@berman.com.ar>
15 5487-3377

[2019-02-11 15:47] jeevatkm commented on #121
@jorgeberman RWH installation instructions/guide is in file `Install-Instructions-Mojave-OS-and-Above.txt`, please have a look.

Seem like you have successfully finished the steps until execution of `Install-or-Upgrade-or-Reenable.command`.

So, continue the installation instructions from the file.

[2019-02-12 02:26] defrilitus commented on #117
Actually, I disagree with you. You state above that "Mac plugin should work properly on Locale as its uses Mac OS settings", but it doesn't. Absolutely not. Not quite sure why you state this, as it's obviously not the case.
You also say that there is an inconsistency between Outlook for Mac and Outlook for Windows. Again, this isn't correct. I run Outlook Pro Plus 2016 on a Windows 10 VM and it ta

[2019-02-12 07:21] jeevatkm commented on #117
@defrilitus I think there is an understanding gap between us. I will try my best to describe it.

 First when you have reported the issue. I responded to my knowledge of memory. Then it turns to be partially incorrect after looking at the source code. As I mentioned above I took an opportunity to address the date format. In the past, I have received various issues/request (#104, #91, #88) around t

[2019-02-12 07:22] jeevatkm commented on #122
It done 😄

[2019-02-12 07:22] #122 closed

[2019-02-12 23:12] defrilitus commented on #117
To be honest, I wish that you would read my posts more carefully.
I did not write that Outlook for Windows gives an option to choose the date-header format. I wrote that Outlook takes the date-header format from the Registry. Users can access these options via the Control Panel. Thus, Outlook will use the system language to set the header language and the Region long date/short time to set the hea

[2019-02-13 07:07] jeevatkm commented on #117
@defrilitus Thanks, surely I have read your message then only I have responded to it with the background, previous issues references, screenshots.

Yes, I have also tried your suggestion yesterday for Apple Mail, it did not honor the system settings for me (_Please note: while testing this RWH plugin was uninstalled on macbook pro_) I don't know why. You could see that differences (Reply vs Forwar

[2019-02-15 08:24] jeevatkm commented on #121
@jorgeberman Any updates? FYI,  RWH v6.1 released.

[2019-02-15 15:19] jorgeberman commented on #121
Thank you very much!

What I did was to manually erase v6 folder and the reinstalled: finally worked. With v6.1 works perfectly.

Jorge N. Berman
jorge@berman.com.ar <mailto:jorge@berman.com.ar>
15 5487-3377

[2019-03-04 11:58] tobikster commented on #121
I also have a problem with using this plugin on MacOS Mojave 10.14.3 and mail.app 12.2. When I tried to enable the plugin and restart mail app, I got an error saying this plugin is incompatible (please refer the screenshot)
<img width="488" alt="screenshot 2019-03-04 at 12 57 44" src="https://user-images.githubusercontent.com/1465627/53732118-2d19a400-3e7d-11e9-81e9-3a6c51523e5d.png">

[2019-03-11 05:46] jeevatkm commented on #121
@tobikster Its seems like a permission issue. Could you please manually delete the `~/Library/Mail/Bundles/ReplyWithHeader.mailbundle` and install it again?

I have not yet found the best way to solve this problem.

[2019-03-13 16:57] networkjitter commented on #121
Same problem here, mail is disabling the plug-in.
<img width="780" alt="Screen Shot 2019-03-13 at 10 08 06 AM" src="https://user-images.githubusercontent.com/7738924/54300403-07c21f80-457a-11e9-810d-d2ef8246ec81.png">
[code]
<img width="532" alt="Screen Shot 2019-03-13 at 9 58 57 AM" src="https://user-images.githubusercontent.com/7738924/54300450-1e687680-457a-11e9-9e31-927778755821.png">

[2019-03-13 18:04] networkjitter commented on #121
Looking at the other issue threads, it seems the UUID part is important, so I decided to work on fixing that part. I re-extracted the RWH archive and then used iTerm instead of terminal, now that issue seems to be clear, but mail is still disabling the plug-in at startup.

[code]
Cheers

[2019-03-20 08:15] tobikster commented on #121
@jeevatkm I tried to remove this file as well as download RWH and install again - still the same result.

[2019-03-20 14:29] networkjitter commented on #121
@jeevatkm Any thoughts as to why Mail.app 12.2 is disabling the plug-in? I am happy to help troubleshoot if needed.

I'm really hoping to regain RWH functionality.  Thank you.

[2019-04-02 19:26] networkjitter commented on #121
FWIW - Still broken with Mail.app v12.4 following the Mojave update
<img width="532" alt="Screen Shot 2019-04-02 at 12 24 42 PM" src="https://user-images.githubusercontent.com/7738924/55430216-5ee85e00-5542-11e9-9272-3a235fd9615f.png">

[2019-04-09 06:43] jeevatkm commented on #121
@networkjitter Thanks for the update.

Today I have updated my MacBook Pro to macOS 10.14.4. The strange or important thing is I did not reinstall the RWH plugin. Instead -

* After macOS install
* I opened up Mail.app went to Preferences -> Tab General -> Manage Plug-ins
* Enabled RWH plugin again from the list by clicking checkbox -> click `Apply and Restart Mail`
* Mail.app restarted and RWH pl

[2019-04-09 19:57] networkjitter commented on #121
@jeevatkm

I believe the steps you provided are already covered by the Mojave install instructions.

I was thinking there may be something wrong with my particular macOS Mojave installation, so I decided to install and test v6.1 on another MacBook that is running High Sierra (10.13.6). I am not able to get it working on High Sierra either. The installation script seems to work fine and I don't get

[2019-04-09 21:28] jeevatkm commented on #121
@networkjitter I know that is available in Mojave install instructions. But after my MacBook Pro OS update to 10.14.4; I have only performed Step 3 from [instructions file](https://github.com/jeevatkm/ReplyWithHeader/blob/master/Misc/Install-Instructions-Mojave-OS-and-Above.txt)

No reinstall of RWH after OS update. That's why I would like to confirm steps.

Things got complicated due to new secur

[2019-04-09 21:37] networkjitter commented on #121
@jeevatkm - Got it, you are looking for verification of steps for re-enablement after minor version upgrades of Mojave (e.g. 10.14.3 -> 10.14.4).

Any thoughts on why I'm having issues with 6.1 on High Sierra?

Thank you for all your efforts, they are much appreciated!

[2019-04-09 21:41] jeevatkm commented on #121
@networkjitter Since `v6.0` RWH release onwards, there is no RWH tab in the Mail preferences. It got moved to Mail.app main menu. You would see the RWH menu in the menu bar.  Could you check it?

[2019-04-09 22:21] networkjitter commented on #121
@jeevatkm Yes, the RWH menu is there and of course the plug-in is working just fine in High Sierra. ;) Thank you for educating me.

WRT to Mojave, is there anything that I can do to pinpoint the issue with my installation? I am considering upgrading the High Sierra machine to Mojave to see if I run into the same issue or perhaps testing with a new user account on my main Mojave machine where RWH i

[2019-04-11 20:24] jeevatkm commented on #121
@networkjitter Please give it try on your new machine and share your experience.

[2019-04-16 17:18] networkjitter commented on #121
@jeevatkm - I tested with a new user login on my Mojave machine and RWH worked as expected. Sounds like I may need to manually blow away my "V6" folder and start fresh. Anyone know how to do this in the least invasive manner? (i.e. preserve mail rules, smart mailboxes, etc.)

[2019-04-19 21:20] networkjitter commented on #121
Deleting the entire `~/Library/mail` folder and restarting mail did not fix the issue, however I finally had success enabling RWH after removing the following two folders.

[code]

This article is what clued me into trying this:
https://appletoolbox.com/2018/09/mail-not-working-after-macos-mojave-upgrade-how-to-fix/#Mail_Crashing_or_Slow_After_macOS_Mojave_Upgrade_How-To_Fix

[2019-04-22 05:16] jeevatkm commented on #121
@networkjitter I'm glad to hear you have sorted the issue on your machine. Thank you for sharing your experience.

[2019-07-02 04:56] markcarroll opened #123 "macOS Catalina Support"
Upgraded to MacOS Catalina Beta 2, ran the usual upgrade path (terminal command etc) but this time it did not work.

[code]

It looked fine, however when I go to the Mail Plugins section in the settings to enable, there is nothing there.

<img width="533" alt="Screen Shot 2019-07-01 at 9 55 37 PM" src="https://user-images.githubusercontent.com/599566/60483601-fac15d00-9c4a-11e9-9caf-4f9ffcfc98f2.p

[2019-07-20 08:37] jeevatkm commented on #123
@markcarroll Thank you for reporting an issue. I will look into the OS Catalina issue. Currently, I have not yet prepared the beta OS, will do it.

[2019-07-24 07:45] bsilvamm opened #124 "ReplyWithHeader v6.1 is currently not supported in your Locale[ (null)(English) ]"
HI,
I get this message when i open Mail:

[code]
Do you have any solution?

BS

![image](https://user-images.githubusercontent.com/41511163/61774723-5ec0e680-adef-11e9-95a4-d2040d2bc493.png)

[2019-07-24 16:09] jeevatkm commented on #124
@bsilvamm Thanks for reporting an issue. What is your locale value?

[2019-07-24 17:08] bsilvamm commented on #124
Hi
I’m in Portugal, I think is pt_PT.

Thanks
Bruno

On Wed, 24 Jul 2019 at 17:09, Jeevanandam M. <notifications@github.com>
wrote:

--
Bruno Silva

[2019-08-05 17:21] markcarroll commented on #123
Update on Dev Beta 5.

Running with `sudo ./Install-or-Upgrade-or-Reenable.command` did not work:

[code]

However, if I `sudo -I` and then install, it seems to go through:
[code]

However, once I run Mail.app I get a warning saying the plug-in is not compatible.  It does now show up in the plugin list but won't run due to the compatibility issue.

Getting closer...

[2019-08-06 15:26] versteegh commented on #123
The RHW plugin will load. I tested it on a clean Dev Beta5 install.

Add/Change the following lines in the Install-or-Upgrade-or-Reenable.command:

`mh_mail_version=$(defaults read /System/Applications/Mail.app/Contents/Info CFBundleShortVersionString)`

`mh_mail_build_version=$(defaults read /System/Applications/Mail.app/Contents/Info CFBundleVersion)
`

`if [ -f /System/Applications/Mail.app/Con

[2019-08-10 15:44] markcarroll commented on #123
Thanks for the detailed response.  However this still doesn't work for me. Still the version error. I will keep playing with it.

[2019-09-02 20:52] jeevatkm commented on #124
Thank you @bsilvamm. Locale `pt_PT` is already supported by RWH. My guess is there might be a bug, I will analysis and address this issue in upcoming release.

[2019-09-02 20:53] jeevatkm commented on #121
@jorgeberman @networkjitter Shall I close this issue?

[2019-09-02 21:02] jorgeberman commented on #121
Yes please

[2019-09-02 21:09] networkjitter commented on #121
All good here, thanks!

[2019-09-02 21:10] jorgeberman commented on #121
Thanks to you!

[2019-09-02 21:47] jeevatkm commented on #121
Thank you @jorgeberman, @networkjitter.

Just wondering, shall I take help from you for macOS Catalina support testing?  Will ping you whenever I have the beta version of RWH.

[2019-09-02 21:47] #121 closed

[2019-09-03 03:52] ColinInBelgium opened #125 "Incorrect time stamp"
In response to your recent request:

_"Hello Colin -
Thanks for reaching out. I’m sorry for the delayed response.
Reported issue is not a complex in nature, however debugging it with Apple Mail.app kind of painful. I will try to address this issue with upcoming release of macOS Catalina support.
Is it possible for you to create an issue at GitHub https://github.com/jeevatkm/ReplyWithHeader/issues?

[2019-09-03 13:51] jorgeberman commented on #121
I’ll try . . . if it will not too difficult. . .

Jorge N. Berman
Enviado desde mi iPhone

El 2 sep. 2019, a la(s) 18:47, Jeevanandam M. <notifications@github.com> escribió:

[2019-09-07 23:03] jeevatkm commented on #123
Start preparing OS Catalina for RWH development.

[2019-09-12 01:53] indirection commented on #115
Thank you.

[2019-10-22 21:12] markcarroll commented on #123
Any update? I tried your new install script on the Catalina GM and while it did install without error, I get an incompatible error when turning on the extension in the Mail.app UI

[2019-10-23 16:39] thwinkle commented on #123
I would also love to use it again in Catalina - missing this a lot. Happy to help with testing

[2019-10-24 11:38] gcabanac commented on #123
Me too: I'm available for testing on Catalina as you see fit :)

[2019-11-04 15:01] jorgeberman commented on #121
Hi,

It looks that ReplyWithHeader-v6.1 doesn’t work with macOS Catalina . . . isn’t it?

Regards,

Jorge N. Berman
jorge@berman.com.ar <mailto:jorge@berman.com.ar>
15 5487-3377

[2019-11-11 18:00] markcarroll commented on #123
I managed to get a build working and load this into Mail.app on Catalina, but now reply and forwards fail with this error:

[code]

[2019-11-12 03:50] jeevatkm commented on #123
@markcarroll yeah, I have sorted out the installation script for Catalina os many weeks ago, After that I ran into Apple's Mail.app internal APIs changes. Honestly it seems apple did an overhaul in the mail app internals; many many changes, so far I did not find an appropriate APIs to integrate RWH yet. That's why you're getting an error -

[code]

[2019-11-20 17:25] mshahat commented on #123
Hello, what's the latest on this, please?

[2020-01-02 21:04] grifjef commented on #123
I love this plugin. Is there any hope for a fix on Catalina?

[2020-01-15 13:26] renelauzon commented on #123
I too love the plugin.  It seems the "Forward" function carries the header information correctly, it's just the "Reply" that no longer functions.
Any updates on when the Catalina compatible version will be available?  Happy to donate $ to the cause.

[2020-02-08 13:24] renelauzon commented on #123
@jeevatkm - please do let us all know if you're "officially" dropping this plugin from your supported pieces of work.  It has worked wonderfully for so long until Catalina "broke" it.  Seems so close with the forwarding feature still having the header, yet reply nothing.
Again, no problem for me making a donation to the cause....just would like to know either way.
Thank you again for all your past

[2020-02-18 19:52] jeevatkm opened #126 "Please do not do Donation until I add support for Catalina"
Dear RWH Users -

I really appreciate your kindness in Donation. Due to circumstances, I have not yet added support for Catalina OS.

Please do not do Donation until I add support for Catalina.

Regards,
Jeeva

[2020-02-18 19:56] jeevatkm commented on #123
@renelauzon and dear users -

Due apple extensive internal API changes giving me hard time. Also, my work is a bit hectic too.  I'm trying to catch whenever I get time.

I appreciate your interest and support. Thank you.

FYI, #126

[2020-03-02 00:10] dgrenier commented on #123
I'd also like to see RWH support Catalina. I've been using it for a few months on Mojave and it's been great.

[2020-08-01 11:21] sterid commented on #123
Hi,
No news for Catalina? May be it possible to fix in Big Sur?

[2020-08-05 15:59] sla-te opened #127 "Not working with TB 78"

[2020-10-05 18:16] markcarroll commented on #123
Hi @jeevatkm are you still working on this project? Big Sur is almost here and we didn't see a Catalina update.  I miss your plug-in. 😄

[2020-10-05 18:41] renelauzon commented on #123
Hi @jeevatkm  - we all still miss this lovely feature so much!  Please give us all a hint as to how this goes and if you're work level will afford you any cycles here.

[2020-10-06 06:30] jeevatkm commented on #127
@chwba This is incorrect repo and project. Beta version is available for TB 78 refer to https://github.com/jeevatkm/ReplyWithHeaderMozilla/issues/99#issuecomment-703335997

[2020-10-06 06:30] #127 closed, assigned to nobody

[2020-10-06 06:39] jeevatkm commented on #123
@markcarroll, @renelauzon, @dgrenier, @sterid  - Thanks for checking it. I'm really very sorry for the inconvenience.
Apple really did big changes under the hood plus the new permission model. Its been many months I did not work on this;  also due to COVID (work from home), my work hours are really messed up.

I will try to catch up and also I will look at Big Sur too to see; whether Apple kept an

[2020-10-06 06:43] Daskarzine commented on #123
Thanks Jeeva, it would be great to know either way!

[2020-10-17 17:14] RMaxCt commented on #123
Jeeva,  thanks for this great plugin.  I found ReplyWithHeader when I was working in a legal environment and maintaining the header info in a standard and clear format was critical for using Mac Mail in this environment.

I look forward to being able to use ReplyWithHeader again in the future.

[2020-11-16 21:50] GHubbler commented on #123
macOS Big Sur is out. So I'd like to ask, if there's any hope or plans to support it.
#128

[2020-11-16 21:51] GHubbler opened #128 "macOS Big Sur Support"
macOS Big Sur is out. So I'd like to ask, if there's any hope or plans to support it.

[2020-12-18 15:26] chefino commented on #128
Hoping as well!

[2021-01-10 08:38] ghost opened #129 "[TB 78] Blank line added to the beginning of a new (!) message"
After updating to TB 78, I noticed that with RWH active, new plain text messages are sent with a blank line at the very beginning (see the attached screenshot below). This does not happen when replying to or forwarding a message.

In terms of the message source codes, the difference really is just in the extra blank line. With RWH active:

[code]
vs with RWH disabled:
[code]

Incidentally, the res

[2021-02-09 06:14] sterid commented on #123
Did anyone found working API for RWH in Big Sur?

[2021-06-11 06:05] bayramog opened #130 "Mail App Extensions on macOS Monterey"
On WWDC 21 Apple announced Mail App Extensions for macOS Monterey. I think the feature can be investigated for ReplyWithHeader feature.

https://developer.apple.com/videos/play/wwdc2021/10168/

[2021-06-11 06:42] Daskarzine commented on #130
Wouldn't that be great!!

[2021-12-28 16:10] jorgehezd commented on #130
I am very interested in this.

[2022-01-04 17:03] jorgehezd commented on #130
Maybe @barijaona is also interested in updating this plugin.

[2022-02-24 00:43] Daskarzine commented on #130
ReplyWithHeader is still the one thing I miss the most in Mac Mail.....